[2016-11-07 14:23] ckosloski commented on #571
I don't understand what your question is for xeditable?  Counting is an issue for text-angular and not xeditable.

[2016-11-07 14:26] BukicMicko commented on #571
@ckosloski you are right I should have add this question to textAngular github cause this ta-max-text is from that directive... Sorry for this.

[2016-11-07 14:28] ckosloski commented on #571
NP, please close this issue.

[2016-11-07 16:34] ckosloski commented on #75
The datepicker is currently bootstrap3 and the html5 password input is supported.

@eugef please close.

[2016-11-07 16:45] ckosloski commented on #560
I have not seen any discussions.  Feel free to start one or create a pull request :)

[2016-11-07 16:47] ckosloski commented on #545
Not sure what issue you are having, but you can set both buttons and blurElem in the config options, see the [documentation](http://vitalets.github.io/angular-xeditable/#ref-options).

[2016-11-07 16:48] ckosloski commented on #539
@eugef can you close this issue?

[2016-11-07 16:59] ckosloski commented on #496
I have verified that `edit-disabled` is now watched with the latest build.
@eugef please close.

[2016-11-07 17:03] ckosloski commented on #438
Pull requests are welcome :)

[2016-11-07 17:04] ckosloski commented on #430
Is this still an issue?  Is there a specific error you are getting?

[2016-11-07 17:06] ckosloski commented on #407
@lalitkapoor are you going to create a pull request?

[2016-11-07 17:08] ckosloski commented on #400
You can add `e-ng-change` to a textarea.

[2016-11-07 17:40] ckosloski commented on #379
Couldn't you use `e-ng-change` to hide/show the other fields?

[2016-11-07 17:42] ckosloski commented on #376
Can  you explain your issue some more?  Once you submit or cancel, the fields return back to links.  Are you expecting the link to have the focus?

[2016-11-07 19:14] wetternest commented on #545
setting buttons = 'no' deactivates `editableOptions.blurElem`
`self.editorEl.attr('blur', self.attrs.blur || (self.buttons === 'no' ? 'cancel' : editableOptions.blurElem));`

see code at https://github.com/vitalets/angular-xeditable/blob/master/src/js/editable-element/controller.js#L283

[2016-11-07 21:13] ckosloski commented on #545
What do you think that line of code should be in order for both to work together?

[2016-11-08 09:50] #75 closed

[2016-11-08 09:50] #539 closed

[2016-11-08 09:50] #496 closed

[2016-11-08 10:04] buzai commented on #76
@ckosloski E-required not work, then I can only onbeforesave () method to check the parameters of the? But I used a lot of e-required before, and the use of onbeforesave very troublesome. Is there a simple solution? .

[2016-11-08 11:27] BukicMicko commented on #571
Hey @ckosloski sorry for reopening this again, but I have one question. Can I use ng-maxlength for editable-text-angular? I was using e-ta-max-text but it is not counting html tags so my idea is to use ng-maxlength and to disable save button if we have maxalenth form error. Something like this:

` <form editable-form name="editableTitleForm">`
`<div>`
       ` <a class="clickable" editable-text-an

[2016-11-08 14:48] ckosloski commented on #571
You would have to use `e-ng-maxlength="5"`

[2016-11-08 14:52] ckosloski commented on #76
e-required does work in some situations.  How are you trying to use it?
If you are checking for existence of a value, I think onbeforesave is the only other option.

[2016-11-08 14:55] BukicMicko commented on #571
hm... I tried also with e-ng-maxlength but it is not working. I tried in in this way:

`<a class="clickable" editable-text-angular="reviewvm.findingOrObservationAddBac"  e-name="background" e-ng-maxlength="5"
                               ng-click="editableBackgroundForm.$show(); edit = true" ng-show="!editableBackgroundForm.$visible">`

`<button type="submit" class="btn btn-primary" ng-disabled=

[2016-11-08 15:01] ckosloski commented on #571
Is the ng-maxlength being placed on the input created by text-angular directive?

[2016-11-08 15:22] BukicMicko commented on #571
hm...I was somehow thinking that this e-ng-maxlength can also work on a href tag on which we have this editable-text-angular. I suppose I cannot do that so will close this issue. Also I tried to somehow get this charcount from text-angular with textAngularManger.retireveEditor('title').charcount but it is not working with combination with angular-xeditable....

[2016-11-08 15:31] ckosloski commented on #571
The only other thing you could try is maybe add a `e-ng-change=countMethod($data)` which calls a method to see the length of the current input and displays an error.

[2016-11-08 15:39] BukicMicko commented on #571
Well that can be a good solution I will give a try, but I also just implement it in this way:

I am using onbeforesave function on href tag and I am checking if characters together with html tags are more that max return string message that will be showin before reach text editor.

`<a class="clickable" editable-text-angular="reviewvm.findingOrObservationTitle" e-name="title" e-form="editableTitle

[2016-11-08 20:37] metialb opened #572 "customizing editable-ui-select"
I would like to use "buttons='no'" on a editableUiSelect and basically have the same visual result/effect as in https://vitalets.github.io/angular-xeditable/#select-nobuttons  (opening the ui-select field when clicking on the anchor, and submitting/changing the value when moving the focus away)

What is the right syntax to use to have the same behavior?! So that there is no need for edit/save butt

[2016-11-08 20:40] ckosloski commented on #572
I think you can use no buttons, but you have to hit enter after your selection in order for the model to be updated.

[2016-11-09 03:17] buzai commented on #76
@ckosloski ,In a  form ,I want check input  value before click save button

[2016-11-09 10:16] #568 closed

[2016-11-09 12:39] ckosloski commented on #76
You have to use onbeforesave to check input values before saving.  Or maybe have an onchange on the input field that can validate the input.

[2016-11-09 15:35] #571 closed

[2016-11-09 18:47] ckosloski commented on #337
@eugef I think this can be closed since `edit-disable` is now dynamic and #496 was also closed

[2016-11-09 18:47] ckosloski commented on #336
Is this still an issue?

[2016-11-09 18:48] ckosloski commented on #335
Is this still an issue?

[2016-11-09 18:50] ckosloski commented on #332
I have verified that the rowform example works with the latest release.
@eugef please close.

[2016-11-09 18:51] ckosloski commented on #329
Can you share you directive?

[2016-11-09 18:52] ckosloski commented on #322
Pull requests are welcome?

[2016-11-09 18:53] ckosloski commented on #321
Pull requests are welcome :)

[2016-11-09 18:56] ckosloski commented on #308
Is this still an issue?

[2016-11-09 18:57] ckosloski commented on #305
Is this still an issue?

[2016-11-09 18:58] ckosloski commented on #304
Is this still an issue?

[2016-11-10 02:10] buzai commented on #76
@ckosloski thanks ,now i am know

[2016-11-10 07:44] Madd0g commented on #308
It is quite inconvenient to get a reference to the form in order to close/submit it.

I add this attribute

`e-form='{{saveForm($form)}}',`

and `saveForm` just saves the form in my scope variable, so I can later call `$submit` on it.

The method above that gets the controller from the HTML elements seems like it would work too, but doesn't seem very angular-ish.

I don't know what's the best way

[2016-11-10 12:46] #337 closed

[2016-11-10 12:46] #332 closed

[2016-11-16 02:14] ckosloski commented on #293
@eugef The roadmap has been already been removed, please close.

[2016-11-16 02:15] ckosloski commented on #290
@eugef please close

[2016-11-16 02:16] ckosloski commented on #289
@eugef this was fixed by #544 please close

[2016-11-16 02:17] ckosloski commented on #288
Is there still an issue here?

[2016-11-16 02:19] ckosloski commented on #287
You can also set `editableOptions.activate='select'` for the text to be automatically selected upon edit.

[2016-11-16 02:24] ckosloski commented on #274
Is this still an issue?

[2016-11-16 02:26] ckosloski commented on #263
is this still an issue?

[2016-11-16 02:28] ckosloski commented on #256
Pull requests are welcome :)

[2016-11-16 02:30] ckosloski commented on #244
Is this still an issue?  If so, can you provide a jsfiddle or plunker?

[2016-11-17 21:41] thematho opened #575 "Radiolist doesn't support boolean as model"
~~Hi.
When editable-radiolist has bind a boolean variable It doesn't reflect the correct value the first time is editing. [JSFiddle](https://jsfiddle.net/dp4j28ua/)
Regards.~~

**Update**
Please close, the issue was fixed on new versions

[2016-11-18 12:30] #524 closed

[2016-11-18 12:31] #293 closed

[2016-11-18 12:31] #290 closed

[2016-11-18 12:31] #289 closed

[2016-11-18 16:44] trodi commented on #118
@ckosloski , @tlaak notes are still correct.

I expected `blur="submit"` to trigger on more than just the click event, so tabbing through xeditable elements would submit themselves. `e-ng-blur="form.$submit()"` is a workaround, but `$submit()` isn't in the documentation and isn't as clean of a solution.

The updated functionality could be limited to if the user has selected `buttons="no"` (as that

[2016-11-18 21:14] ckosloski commented on #575
Your fiddle is using the wrong angular-xeditable version.  Please see this [fiddle](https://jsfiddle.net/ckosloski/wsv4xwbd/1/)

[2016-11-18 23:51] #575 closed

[2016-11-22 16:34] IssamEssarghini033 opened #577 "Unit test Karma -Unknown provider"
I'm writing unit tests for my project built on Angularjs with Karma-jasmine. I'm using x-editable library in my app.

I'm trying to unit test a controller which depends on the x-editable library. But I'm facing the error below :

I have already added the path of x-editable my in Karma config file :

[code]
Below the spec file :

[code]

And this is my controller file :
[code]
What am I doing wrong

[2016-11-22 16:45] ckosloski commented on #577
Does your app work correctly, just the tests fail?

[2016-11-22 16:50] IssamEssarghini033 commented on #577
@ckosloski yeah the app works properly 👍

[2016-11-22 17:28] ckosloski commented on #577
How are you injecting xeditable into your tests?

[2016-11-22 17:48] IssamEssarghini033 commented on #577
i've added the path of xeditable in my karma conf file, and i inject it by
[code]
Because in my Controller i'm usiing editableThemes and editableOptions services that's why I injected them.

[2016-11-22 17:49] ckosloski commented on #577
Don't you need to inject xeditable?  How do you inject xeditable into your application?

[2016-11-22 18:08] IssamEssarghini033 commented on #577
Actually i'm using oc.lazyload, when i redirect to the view where i'm using xeditable, i load it in my router config by :
[code]
and on lazyload config i have :
[code]
On My controller i inject only editableThemes and editableOptions.
and it works fine.

[2016-11-22 19:15] ckosloski commented on #577
I am not familiar with this, but I would think that you would still need to load xeditable in your test somehow (unless you are saying lazyload does that for your test as well)

[2016-11-22 22:52] ckosloski commented on #280
Apparently there is an attribute called `e-clickable` that you can add to the single editable-text to get this to work.
Here is the modified [plunkr](http://plnkr.co/edit/DBRoey?p=preview) from above that works.

[2016-11-24 00:10] amodpandey opened #578 "Single form for create and update - create opens all inputs and update is one by one"
I want to create a single form for create and update. When the form opens in create mode I want to show all the inputs editable (like the way when we click on edit). Similarly if I open the form for update (backed by exiting data) I want each input to be individually editable on click. In both cases the Save will update model and call backend API. Is this supported?

Do you have a forum where the

[2016-11-24 00:38] ckosloski commented on #578
I don't think this is supported.  Maybe you can do something with an ng-if to setup an editable-form for create and then create individual editable elements for edit.

[2016-11-24 13:29] ekazaltzis opened #579 "form.$dirty not working"
Hi,

The form.$dirty is always false even though I have touched elements for that form.
Is this known issue or am I missing something?

`

           <td>
                <span  editable-text="contact.title" e-name="title" e-form="rowform" e-placeholder="Enter title">{{ contact.title }}</span>
            </td>
            <td>
                <span e-ng-keydown="checkTabEvent($event, $index, rowf

[2016-11-24 18:35] ckosloski commented on #579
The way xeditable handles forms I think prevents $dirty from working.  See if this [comment ](https://github.com/vitalets/angular-xeditable/issues/318#issuecomment-114530112)helps you.

[2016-11-28 12:47] dadepo opened #580 "The Js Fiddle Example for the Date Selector does not work"
The JsFiddle Example here http://jsfiddle.net/NfPcH/23/ included in the documentation for the datetime picker does not work

[2016-11-28 14:20] ckosloski commented on #580
That is because it is out of date.
@eugef do you know how to update the fiddle?

[2016-11-28 14:39] eugef commented on #580
@ckosloski no, could you create a new fiddle and update link in the readme?

[2016-11-28 14:40] ckosloski commented on #580
OK, I'll work on that for my next pull request.

[2016-11-29 14:25] ilsaha opened #581 "Cancel previous edit when starting new"
I have an array of devices names and iterate through them using ng-repeat. Each of them have editing options, but the problem is - when I start to edit first item and then click to edit second, they are both opening edit inputs. And what I need is to cancel previous input if I click on the second one. Are there any workaround?

[2016-11-29 14:30] ckosloski commented on #581
You could try `blur="submit"` to submit the currently open single editable element when the next one is clicked on.

[2016-11-29 14:44] ilsaha commented on #581
@ckosloski What flag should I look on? I'm already have this attribute, but it works only if not edit button is clicked. Also I don't have any form. I'm just using "editable-text" attribute to edit my model.
<button blur="submit" editable-text="device.deviceName">

[2016-11-29 14:53] ckosloski commented on #581
I think you will need to post some code or a plunkr/jsfiddle then.  I have verified that something like this does work: `<a href="#" editable-text="user.name" data-e-label="User Name" blur="submit">
    {{ user.name }}
  </a>`
If you click outside of the text field it is submitted.

[2016-11-29 14:57] ilsaha commented on #581
@ckosloski I don't need to submit, need to cancel it when clicking on edit button. Submitting on blur works perfectly.

[2016-11-29 14:59] ckosloski commented on #581
Then try `blur="cancel"`

[2016-11-29 15:12] wasitaanggara opened #582 "editable-tags-input Not Working"
![untitled](https://cloud.githubusercontent.com/assets/11562240/20715071/8eeccdb0-b680-11e6-8dcf-c7a773912e15.png)

Great Work dude, so usefull tools. But i have problem with editable NgTagsInput not working, i just copied all from your documentation https://vitalets.github.io/angular-xeditable/#ngtags but not show.
Thanks, sorry for my bad english.

[2016-11-29 15:19] ckosloski commented on #582
Please post your code or a link to a jsfiddle/plunkr.

[2016-11-30 05:20] wasitaanggara commented on #582
https://jsfiddle.net/wasita_anggara30/5rk67uqk/ here dude, thanks for your response. i need some help why this code not work.
Regards.

[2016-11-30 05:24] wasitaanggara commented on #582
im also change editable-text / editable-dropdown work editable with text and dropdown, but when editable-tags-input its not work.

[2016-11-30 06:53] borismee opened #584 "Caret position for input field is not set correctly in FF/IE11/Egde"
Hi,
I saw the following issues [(151)](https://github.com/vitalets/angular-xeditable/issues/151) and [(249)](https://github.com/vitalets/angular-xeditable/issues/249).
Just in Chrome the position of the caret is correct - at the end of the text in the input.
In all other browsers (FF 50.0, IE11 and Egde), the caret is located at the beginning of the word.
You can check the problem [here](http://vi

[2016-11-30 09:43] ilsaha commented on #581
@ckosloski But I need to submit it on blur and cancel on click

[2016-11-30 12:37] ckosloski commented on #581
That's not possible right now.  Currently "blur" is when the element loses focus.  It sounds like you need to do different things depending on how the element loses focus.

[2016-11-30 12:40] ckosloski commented on #584
Did you try `editableOptions.activate= 'select';`

[2016-11-30 12:49] ckosloski commented on #582
Can you update your jsfiddle with the correct JS files?  Currently the only files being included are the ng-tags files, all other files are not found because you are using a relative path and they are not there.

[2016-11-30 13:16] #280 closed

[2016-11-30 15:40] wasitaanggara commented on #582
i know the problem dude, i have template urban admin with angular-xeditable version 0.1.9 and the lastest version is 0.5.0 not support NgTagInput. but i just wanna ask some queestion, with v.0.1.9 editable-dropdown work with search data select, but in version 0.5.0  not work?

[2016-11-30 15:40] #582 closed

[2016-11-30 20:19] ckosloski commented on #222
Pull request are welcome :)

[2016-11-30 20:30] ckosloski commented on #194
Pull requests are welcome :)

[2016-12-01 06:38] borismee commented on #584
Yes, but it make all text selected. I want that default behavior will stay as it and will same across all browsers.
In other words, I want to place the caret at the end of the string in the input.
Any other suggestions?
P.S.: Thanks for a quick response!!!

[2016-12-01 10:17] federicoco opened #585 "Date view in combodate"
hello, I'm using angular Xeditable for my thesis.
`<a href="#" id="dataInizio" editable  editable-combodate="risultato[0].data_inizio" data-pk="1"  data-title="Quando è succcesso?">{{risultato[0].data_inizio }}</a>`

where data_inizio is a date returned from a **query in datetime format (2016-05-05 15:00:00)** .
I would like to display the date in this format (in the `<a> tag` )
`1 Febbraio 2016 1

[2016-12-01 10:21] federicoco commented on #585
I've managed to display it in a human comprensible way, but it is in english : if I want to change the locale to italian ?

[2016-12-01 12:57] ckosloski commented on #585
You need to load the translations for [moment.js](http://momentjs.com/docs/#/i18n/) also look [here](http://momentjs.com/docs/#/i18n/loading-into-browser/)

[2016-12-01 13:11] federicoco commented on #585
I've included the moment-with-locales.js and in the init function of angular(equivalent of $(function)), I wrote
`moment().locale('it');`

![github](https://cloud.githubusercontent.com/assets/22914696/20795164/f9573a8c-b7cf-11e6-9c07-b87ea78b6b1a.jpg)

if you see the attached images you will understand what I'm trying to achieve

[2016-12-01 13:19] ckosloski commented on #585
Do you have Angular setup for [i18n](https://docs.angularjs.org/guide/i18n)?

[2016-12-01 13:22] federicoco commented on #585
no, what fix would you suggest me ?

[2016-12-01 13:28] ckosloski commented on #585
You need to setup i18N for Angular.  See this [stackoverflow ](http://stackoverflow.com/questions/26216414/angularjs-filter-date-and-locale-service)as an example

[2016-12-01 15:06] federicoco commented on #585
hello sorry to annoy you, I've added the libraries like stackoverflow example suggested .
The date is printed in italian locale only when is changed
1) underlined date : In english
2) popup combo date : months in english
3) Change date in Italian locale, but it does not update the old date

[2016-12-01 15:36] ckosloski commented on #585
1.  It sounds like Angular isn't setup for localization correctly.  Maybe try this [link](http://tutorials.jenkov.com/angularjs/internationalization.html)
2.  It sounds like Moment is not setup for localization correctly if the combodate dropdown is in English.  Did you set the locale for moment?
3.  Not sure about this, if everything is in english, how are you updating to Italian?

You might need

[2016-12-01 16:03] ckosloski commented on #584
I think I found a fix, I just need to find some time to get it done.

[2016-12-01 19:57] caioc commented on #98
yes

[2016-12-01 20:13] ckosloski commented on #98
Couldn't you setup a form to edit two different fields?

[2016-12-05 20:52] carterpayne commented on #559
What is the status of this PR? @muten84, i found another work around for the time being using a decorator:

[code]

kinda sketch but my only option for the time being. hope that helps.

[2016-12-06 08:00] B3nCr commented on #559
Sorry, I've been really lax with this, the work is done I just need to sort out my PR. I'll try and get around to it this week.

[2016-12-07 23:28] jjreicher commented on #446
any updates on this issue? I see there was a fix in #311 but that was with version 0.1.x not with 0.2.0. Hoping someone has figured out how to fix this in 0.2.0.

For me the issue arises in making the app accessibility work correctly. With tabindex and editableOptions.activationEvent = 'focus'; I have been able to get the fields to activate by tabbing to them, but I cannot get them to save when I

[2016-12-08 00:26] ckosloski commented on #446
I think that blur="submit" only blurs on a click, so there needs to be a change to support something other than click.

[2016-12-08 00:51] jjreicher commented on #446
Certainly seems to be true--you see the issue though, yes? Basically
conceptually tabbing away from the field should cause the field to "lose
focus" but blur doesn't seem to do that. Thought maybe focusout or
something along those lines might solve the problem.... Thoughts?

On Dec 7, 2016 4:26 PM, "ckosloski" <notifications@github.com> wrote:

I think that blur="submit" only blurs on a click, so

[2016-12-10 12:11] ChMrWang commented on #302
HI, I have a same issues, here is my code
`$scope.saveNewGroupName = function () {
            if($scope.newGroupisEditing == false){ // It seems this function may be invoked even current group is not new group , it's strange but really happened
                return false;
            } else if(this.$data.length == 0){
                return "Please input a group name";
            } else {

[2016-12-10 18:01] ckosloski commented on #302
Can you provide the code for your xeditable element?  If you are building the name of the model in the element, that currently is not supported.

[2016-12-12 02:10] ChMrWang commented on #302
@ckosloski  Thanks for your quickly replication, I updated the xeditable element code in my first comments.

[2016-12-12 16:29] ckosloski commented on #302
Why do you not have a model assigned to editable-text?

[2016-12-13 01:31] ChMrWang commented on #302
@ckosloski  I will save the text to server and push the text to a array on saveNewGroupName() function, so a model assigned to editable-text is not needed for me. Is this the reason why this error appear?

[2016-12-13 02:03] ckosloski commented on #302
Yes, you have to have a model.

[2016-12-13 12:24] ChMrWang commented on #302
@ckosloski  OK, Thank you.

[2016-12-13 12:46] #584 closed

[2016-12-16 09:41] #446 closed

[2016-12-16 11:37] MooDySmiles opened #591 "Add class when xeditable is disabled"
Hi!

Is it possible to add a "disabled" css class to the Xeditable element (when it is disabled)?
It would be really helpful to have a css class like that in order to adjust the appearance of the element.

Right now the style is the same, whenever it is enabled or disabled.

[2016-12-19 15:40] ckosloski commented on #591
It's possible.  Do you need the styles to dynamically change between enabled/disabled?

[2016-12-20 08:38] MooDySmiles commented on #591
Yes, something like "editable-disabled" to be added runtime when edit-disable="true" and to be removed when edit-disable="false"

[2016-12-20 22:48] ckosloski commented on #591
I tried watching the editable-disabled attribute and changing the classes, but I couldn't get it to work right.
I could give you a one time shot css when the element is loaded the first time.
Or, you could add some styling yourself by adding a class based upon the same criteria you are using for the editable-disabled attribute.

[2016-12-21 01:08] LegendOfFire opened #594 "angular-xeditable doesn't work well within ui-bootstrap <uib-tabset> element"
I embed a angualr-xeditable inside a uib-tabset element, however the form can't be submitted.

Please check the code: http://plnkr.co/edit/itDFMD?p=preview

[2016-12-21 02:00] ckosloski commented on #594
I think the issue is how uib-tab handles clicks.  Please see #563.  There is a working example there.

[2016-12-21 07:54] MooDySmiles commented on #591
It's pretty useless for us give it css when the element is loaded the firts time.
Right now it isn't a fundamental feature, so we'll work on it when we'll have the time.

Thanks for your time! :smiley:

[2016-12-21 10:25] eugef opened #595 "Errors in console when running tests"
Hi @ckosloski I've noticed that browser console is full of errors, while allt the tests are green.

Here are examples of those errors:
[code]
[code]

Could you please check and possibly fix it?

[2016-12-21 14:31] ckosloski commented on #595
I will take a look.

[2016-12-21 16:54] ckosloski commented on #595
@eugef when I run the doc tests in Safari I see a lot of these:

[Error] Failed to load resource: the server responded with a status of 404 (Not Found) (ng-tags-input.bootstrap.css.map, line 0)

[2016-12-21 23:06] eugef commented on #595
Did you run `npm install` to install dependencies?

[2016-12-22 08:27] LegendOfFire commented on #563
Thank you! It's solved.

[2016-12-22 14:06] ckosloski commented on #594
Please close this issue if your issue is solved.

[2016-12-22 14:10] ckosloski commented on #595
Yes, the error only appears to occur when running the tests in safari

[2016-12-23 02:25] #594 closed

[2016-12-23 13:13] eugef commented on #595
Errors, you have sent are not critical, just map files are missing for minifed css.

I've fixed the error related to `Uncaught ReferenceError: inject is not defined` https://github.com/vitalets/angular-xeditable/commit/1024d7ca9d02d488c82932c293353dcd0237eb37.
Turns out that this test  was broken and didn't run for a long time, but `angular-scenario` didn't report that.

So the only error that is

[2016-12-28 08:31] gerome0123 opened #597 "how to edit two resouces"
i have two resources leave_credits and leave_credits_summary in my leave_credit im editting a data of leave_credits.no_of_days if that change i want to change the leave_credtis_summary.total_number_of_days without reloading is this possible??? im using editable table

[2016-12-28 14:31] ckosloski commented on #595
PR #596 created

[2016-12-28 14:35] ckosloski commented on #597
Did you try using `e-ng-change`?

[2016-12-29 20:34] eugef commented on #595
@ckosloski thanks

[2016-12-29 20:34] #595 closed

[2017-01-02 20:23] ckosloski commented on #242
Is this still an issue?  I don't have an iPhone, but this the jsfiddle works on my iPad.

[2017-01-02 20:46] ckosloski commented on #146
@eugef I think this can be closed due to #491

[2017-01-02 20:47] ckosloski commented on #144
Is this still an issue?  If so, can you provide a link to a plunkr/jsfiddle?

[2017-01-02 20:49] ckosloski commented on #143
Did you ever figure this out?

[2017-01-02 20:51] ckosloski commented on #141
Is this still an issue?

[2017-01-02 20:52] ckosloski commented on #136
@eugef I think this can be closed.

[2017-01-02 20:55] ckosloski commented on #134
You could probably setup a function that loops through any existing values that are used and removes them from the available list.
Or, create an AJAX call and have your backend query filter out the values already saved to the db (if items are being saved).

[2017-01-02 20:56] ckosloski commented on #133
I think you can use an onchange event to update other fields.

[2017-01-03 22:24] #146 closed

[2017-01-03 22:26] #136 closed

[2017-01-04 23:23] bgsavage commented on #6
@mitcht can you provide a code sample of how to use your fix?  It sounds like you're saying we should try using ng-form instead of the built in e-form now.

Thanks-

[2017-01-05 01:25] kglee79 opened #599 "ComboDate Broken with Change in PR #596"
The ComboDate appears to be broken since PR 596.

Line 30 in the following file was changed to what appears to be an attempt to fix something for Safari, but it appears to be breaking it across the board.

https://github.com/HS2-SOLUTIONS/angular-xeditable/blob/7855320b7f7199f6ec67c3b98b0a4478e00342f8/src/js/directives/combodate.js

Here's the error
![screen shot 2017-01-04 at 5 19 19 pm](https://

[2017-01-05 02:34] kglee79 commented on #599
It appears I may have had an issue in my usage of the combodate, closing as this does not appear to be an issue using different attribute values for the combodate.

[2017-01-05 02:34] #599 closed

[2017-01-06 17:56] matthew-b-payne commented on #526
I also have a similar issue.   If a hard code the date it works fine.

$scope.user = {
        dob: new Date(1984, 4, 15)
    };
e.g.

However, if the user is loaded.
$scope.loadUser = function () {
        $scope.user = UserService.get({id: id});
    };
The date in the text box is empty.  The calendar popup is set to the correct date though.

[2017-01-06 18:02] ckosloski commented on #526
The date for the popup needs to be a JS date so you probably need to do something like:
`$scope.user.dob = new Date($scope.user.dob );`

[2017-01-07 14:58] #160 closed

[2017-01-07 15:01] eugef commented on #76
@ckosloski is there anything we can improve in the code, or issue can be closed?

[2017-01-07 15:02] #114 closed

[2017-01-07 15:29] ckosloski commented on #76
Everything is working as intended, which isn't what some people are looking for.  No one has offered a pull request to improve the functionality so I suggest closing it.

[2017-01-07 19:06] #76 closed

[2017-01-11 05:51] UmeshKilkile opened #602 "Can we have two forms in one html page"
Can we have two forms in one html page?

Like,
 form1
            ...
            form2
              ...
            /form2
         /form1

Kindly help with sample e.g.

[2017-01-11 12:49] ckosloski commented on #602
I'm not exactly sure what you would like to do, but looking through the issues I found #234 which said to use an ng-form as the inner form.

[2017-01-11 13:35] dcardosods opened #603 "Submit on tab for textareas"
The same behavior added for inputs in https://github.com/vitalets/angular-xeditable/pull/590, could be used on textareas.

[2017-01-11 13:40] dcardosods opened #604 "submit on tab vs. blurElem option"
With the feature from https://github.com/vitalets/angular-xeditable/pull/590, by default a input is always submitted on tab, and canceled when clicking outside the input.

It would be better to submit on tab only if the `blurElem` option or the `blur` attribute are set to `submit`.

[2017-01-11 14:44] #168 closed

[2017-01-11 14:51] ckosloski commented on #604
Can you provide a plunkr/jsfiddle showing the issue?  I am not seeing the form submitted on tab when the blur attribute is not set.

[2017-01-11 23:20] b4ng opened #605 "Customizing & Styling Angular X-Editable Popover Input"
Hi,

Had a question on customizing and styling angular x-editable popover input and posted on stackoverflow but wanted to x-post here as it seems this community is more involved with the discussion. Please let me know what you think!

http://stackoverflow.com/questions/41601624/customizing-styling-angular-x-editable-popover-input

[2017-01-12 17:17] #605 closed

[2017-01-12 17:19] b4ng commented on #605
Closed. For those with similar issues:

- Styling for the popover can be controlled through xeditable.css
- While inputTpl isn't functioning the way I'd expect, I added the custom directive to the input field using e-*.

[2017-01-12 17:50] westerncj opened #606 "Set value of amount inside of ng-repeat based off of isActive"
I have an `ng-repeat` editable form like below. How can I set the value of `amount` to `0` when it's disabled by the editable-checkbox (isActive)? I have to working so it disables the `amount` input when `editableDataForm.$data.isActive`, but I can't set the value to `0`.

[code]

[2017-01-12 20:15] ckosloski commented on #606
Did you try using an `e-ng-change` on the checkbox to set the row.amount to 0 when it's checked?

[2017-01-12 20:17] ckosloski commented on #604
The only time I see the form being submitted is when ` blur="submit" buttons="no"` is set on a single item.  Can you provide a sample of your code where you are seeing it always submit on tab?

[2017-01-12 20:21] westerncj commented on #606
If I set `row.amount` using `e-ng-change`, then when the cancel button is clicked the value is set to zero.

[2017-01-12 20:26] ckosloski commented on #606
what about also changing `row.amount`?

[2017-01-12 20:28] westerncj commented on #606
If I change `row.amount`, the underlying model is changed. I'd like to retain the original values if the **Cancel** button is clicked.

[2017-01-12 20:39] ckosloski commented on #606
What happens with this code?
`e-ng-change="editableDataForm.$data.amount = (editableDataForm.$data.isActive) ? '0' : row.amount">`

[2017-01-12 20:52] westerncj commented on #606
When using that code, it doesn't change `amount` to `0` in edit mode when I check the box.

[2017-01-12 21:40] ckosloski commented on #606
This seems to work, the value is updated and reverted if cancelled...but the ui doesn't seem to reflect the change until after the save/cancel.

`e-ng-change="update(editableDataForm)"`

[code]

[2017-01-12 21:49] westerncj commented on #606
I get this error: `TypeError: Cannot set property 'value' of undefined`

[2017-01-13 00:16] gerome0123 opened #607 "how to remove or hide my current data in my view"
![screen shot 2017-01-13 at 8 11 38 am](https://cloud.githubusercontent.com/assets/20182366/21913639/84f1e146-d968-11e6-9d22-90414741daab.png)

![screen shot 2017-01-13 at 8 12 05 am](https://cloud.githubusercontent.com/assets/20182366/21913638/84ef4878-d968-11e6-9c5c-7df217b93c0d.png)

i dont know the problem is but i follow the instruction in the jsfiddle

[2017-01-13 00:40] gerome0123 commented on #607
this is help me lol ng-hide="tableform.$visible"

[2017-01-13 00:40] #607 closed

[2017-01-13 00:54] ckosloski commented on #606
Then I would need to seem more of your code.

[2017-01-16 14:30] ckosloski commented on #118
Support for tabbing was added with pr #590.

@eugef I think this issue can be closed.

[2017-01-16 14:31] ckosloski commented on #117
@eugef I think this issue can be closed.

[2017-01-16 14:32] ckosloski commented on #108
Is this issue fixed now that #489 has been merged?

[2017-01-16 14:32] ckosloski commented on #107
@eugef I think this can be closed.

[2017-01-16 14:35] ckosloski commented on #104
@eugef I think this can be closed.

[2017-01-16 14:36] ckosloski commented on #96
Can this issue be closed?

[2017-01-16 14:36] ckosloski commented on #92
@eugef I think this can be closed.

[2017-01-16 14:38] ckosloski commented on #88
Is this still an issue?

[2017-01-16 14:40] ckosloski commented on #81
@eugef I think this can be closed

[2017-01-16 14:43] ckosloski commented on #77
Is this still an issue?

[2017-01-16 16:05] asmuelle commented on #108
Yes, works for me.

[2017-01-16 16:05] #108 closed

[2017-01-16 16:13] #118 closed

[2017-01-16 16:13] #117 closed

[2017-01-16 16:13] #107 closed

[2017-01-16 16:13] #104 closed

[2017-01-16 16:13] #92 closed

[2017-01-16 16:13] #81 closed

[2017-01-16 21:08] takotuesday opened #608 "editable-select on select"
Using the form example, it appears if there is an editible-select element on the form, there is no way to fire off a function upon selection. This would be great for validation purposes.

[2017-01-16 21:21] ckosloski commented on #608
Did you try using a `e-ng-change` to execute your validations on selection?

[2017-01-16 21:31] takotuesday commented on #608
@ckosloski thanks for the quick response. Yes I did, but the problem is I cant access whatever the new value being selected is, only the old value that was previously selected.

[2017-01-16 21:50] ckosloski commented on #608
Please provide the code you are trying.

[2017-01-17 03:35] takotuesday commented on #608
Here is an example in JSFiddle. See the `user.status` editable-select.

http://jsfiddle.net/NfPcH/18046/

[2017-01-17 09:14] gerome0123 opened #609 "Editable row add and edit"
i'm following this guide http://jsfiddle.net/NfPcH/93/

how can i detect if add row is to save and edit is to update???

because add and edit have the same function of $scope.saveUser????

[2017-01-17 09:28] gerome0123 commented on #609
i check the id if true or false and put in the condition :)

[2017-01-17 09:28] #609 closed

[2017-01-17 11:58] pdorgambide opened #610 "editable-checkbox without e-title on editable row"
Using an `editable-checkbox` on a editable row scenario. When the  `e-title` attribute is not defined the input checkbox are wrong aligned.

Tested with boostrap 3.3.7
See: http://jsfiddle.net/pdorgambide/0tcwedtz/

[2017-01-17 12:33] ViniciusCPSouza commented on #610
@pdorgambide I've dealt with that before by using `e-title="&zwnj;"`.

[2017-01-17 14:01] ckosloski commented on #608
See this updated [fiddle](http://jsfiddle.net/ckosloski/yks94u3u/1/)

[2017-01-17 15:36] takotuesday commented on #608
@ckosloski this is awesome, thank you.

[2017-01-17 15:36] #608 closed

[2017-01-17 17:02] dcardosods commented on #604
By submitting, I mean having the new value saved to scope.

Only `buttons="no"` is necessary to reproduce the issue.
http://plnkr.co/edit/uVz5MlcgvLhozswzGetA?p=preview

[2017-01-18 01:34] tcledford3 commented on #126
@davidrothschild  @roshenpo007 I have it working with the checkbox SQL field as VARCHAR and using @davidrothschild 's solution with the exception: **e-ng-checked="{{model.field}}"** instead of e-ng-checked="model.field". I hope this helps.

[2017-01-18 01:49] tcledford3 commented on #126
@davidrothschild @roshenpo007 Oops!  I thought I had it working. I ended up with the SQL field as an INT. And the HTML markup for my app is as follows:
<span editable-checkbox="data.active" e-name="active" e-form="rowform"
	        e-ng-true-value="'1'" e-ng-false-value="'0'" e-ng-checked="{{data.active}}">
    		{{data.active == 1 ? 'Yes' : 'No'}}
	        </span>
This is working for me now. Sorr

[2017-01-18 08:48] #603 closed

[2017-01-18 08:48] #604 closed

[2017-01-19 06:03] gerome0123 commented on #597
@ckosloski no i think my my data update is asynchronous

[2017-01-19 14:28] ckosloski commented on #597
What types of inputs are your two fields?
Do you mean you want to update the value on the screen and on the backend when you update the first item?
Do you have any code you could show?

[2017-01-19 14:34] #507 closed

[2017-01-21 12:13] doctore commented on #6
I have a similar problem, that is, I have an "outer form" that manages other elements and I would like to include an "editable table" like this:

https://vitalets.github.io/angular-xeditable/#editable-row

But I haven't achieved. I have searched similar use cases I have found a lot of "closed issue" related with it:

https://github.com/vitalets/angular-xeditable/issues/6
https://github.com/vitalet

[2017-01-21 15:55] thejohnfreeman commented on #6
Maybe check out [ag-grid](https://www.ag-grid.com/javascript-grid-cell-editing/) if you want editable cells in a table.

[2017-01-24 05:35] #96 closed

[2017-01-24 12:22] moshfeu opened #612 "e-maxlength allow to add one charachter"
**The steps:**

1. Double click on the label.
2. Type one character.

**Expected result:**

You can't.

**Actual result**

You can add the one. If you delete it you can't add anymore until you will close the field and double click on it again. The problem of course if the model is with the maximum allowed length.

Note: If you save it, it saved the old value, but it's not good in the UI.

http://j

[2017-01-24 16:53] ckosloski commented on #612
Can you provide a link to the issue you are having?

[2017-01-25 11:41] #610 closed

[2017-01-25 13:37] okezieokpara opened #614 "Update $data from server"
My onBeforeSave function first updates the data on the server before updating on the local (or create a new record if it doesn't exist before). But I want to use the result data from the server to update the local (the new data from the server has an id primary key field, if the data is new). How can I do this?

[2017-01-25 14:08] ckosloski commented on #614
Can you post the code you have so far?

[2017-01-25 22:35] starforgelabs commented on #355
Today I've run into the same issue with Firefox. Chrome and Safari work fine on <td> tags.

The work-around of moving the editable-* attributes to a <span> withing the <td> appears to work. Thanks for the suggestion, @map7 .

(All versions current as of 25 Jan 2017.)

[2017-01-26 03:13] euniciaruiz opened #615 "Editable row AND editable cell at the same time"
Hi,

I'm trying to create a table where I can edit a whole row by using e-form and also, at the same time, when I click on a certain cell, I can also edit each cell accordingly. I tried using "e-clickable='true'" for this but I think it only works for single elements. What if there are other elements?

Here is a code snippet from what I'm trying to do:
[https://gist.github.com/euniciaruiz/9555da92

[2017-01-26 03:16] #615 closed

[2017-01-26 14:56] ckosloski commented on #355
The reason a td doesn't work is because the code tries to hide the text when the input field is shown.  Since the td contains both the text and the input field, the td ends up being hidden which then messes things up.
The documentation does state that editable-elements should be placed inside table cells.
This is working as intended and can be closed.

[2017-01-26 17:08] ckosloski commented on #85
You can do something like this to open the next field:
[code]

[2017-01-26 21:39] ckosloski commented on #83
Here is an idea on how to do it.  That code is very specific to the demo, so I don't think it is something that belongs in the project.

I was playing around in the project and came up with this.  You could pass in  your own onhide function maybe to do something similar.
[code]

[2017-01-27 16:26] ckosloski commented on #74
This is still an issue.  I played around with the code and wasn't able to find a solution.

[2017-01-30 14:45] ckosloski commented on #122
I tried using UTF-8 characters on the demo site and I don't see any issues.  Maybe you didn't properly set your page encoding to UTF-8.

[2017-02-01 02:16] gerome0123 commented on #597
here's my view(slim format)

`md-content
  div layout="row" layout-sm="column" layout-align="space-around"
  div.md-whiteframe-1dp
    md-toolbar
      div.md-toolbar-tools
        span Leave Credits
        span flex=""
        form editable-form="" name="tableform" onaftersave="saveTable()"
          div class="btn-edit"
            md-button.lc-edit type="button" ng-show="!tableform.$visible" n

[2017-02-01 11:51] Snippo opened #616 "Dynamically set e-min-date inside a form"
Hi,

I am trying to update a second datepicker based on the date chosen on the first one. This works fine when using it outside of a form, but for some reason doesn't work when used inside a form.

Here is a jsfiddle which shows the problem: http://jsfiddle.net/grk2eyqo/5/
Changing the value of the first datepicker will not change the second datepicker inside the form, but for the controls outside

[2017-02-01 14:31] ckosloski commented on #616
Did you try `$parent.$data` instead of `$data` in `e-ng-change="setDate($data)`

[2017-02-01 14:36] ckosloski commented on #597
The formatting above is a little hard to read.
Couldn't you try an `onaftersave` event to call a function that updates `leave_credtis_summary.total_number_of_days` with the value from `leave_credits.no_of_days after it's edited`?
Maybe a plunker or jsfiddle example would better demonstrate the issue you are having.

[2017-02-01 14:52] Snippo commented on #616
Just tried it but that doesn't solve it. The data seems to be correct (the variable is set to the right date in a console.log()), but the value for some reason does not affect the e-min-date property.

[2017-02-01 15:50] ckosloski commented on #616
Maybe try using date picker options to set the min date.  This seems a little similar to this ui-bootstrap issue (the last post suggests using options)
https://github.com/angular-ui/bootstrap/issues/3188

[2017-02-01 16:58] xmaster484 opened #617 "x-editable ngTagsInput modifies the model on form blur/cancel."
Hi I was wondering if there was any way to stop the tagInputBox from changing the model of tag array if the user would press cancel. I want it to be such that any tag added in the current x-editable form would be removed but the ones that were there previously would stay. Even on the demo on the main site, the ng-tagsinput xeditable box saves the new tag to the tag model array.

Anyway to work aro

[2017-02-01 19:23] Snippo commented on #616
e-datepicker-options works outside of the form, but not inside the form: http://jsfiddle.net/grk2eyqo/6/
So that unfortunately doesn't solve it.

[2017-02-01 21:16] ckosloski commented on #616
I think this is a ui-bootstrap and not a xeditable issue.   Look at this thread - https://github.com/angular-ui/bootstrap/issues/6025

It seems like you could try to set the datepicker options as a scoped variable and then update the mindate on that.

[2017-02-02 10:20] moshfeu commented on #612
Sure.. It was in the bin, but apparently I changed it back to `ng-click`. I save a snapshot for this here: http://jsbin.com/puzage/2/edit?html,js,output

[2017-02-02 22:39] ckosloski commented on #612
I'm not understanding the issue.

- Double click to open
- Try adding new character, can't because of max length
- Delete existing data
- Add new data
- Click save, new data is saved.

What exactly is the issue?

[2017-02-04 13:37] stefanvanherwijnen opened #618 "UI-select with e-multiple sets value to null when using limitTo in repeat"
When I use editable-ui-select with the e-multiple option and limitTo to limit the number of options, some of the selected objects are set to null after selecting/deselecting a few times.

For example in this jsfiddle: http://jsfiddle.net/psvbguhk/2/
Select 555, save, then select 444 and the third selection (which should be 555) is set to null.

It only seems to happen with values above the value s

[2017-02-05 01:10] ckosloski commented on #618
This might be an issue with ui-select.  I noticed you don't have the latest version in your plunker.
I did find this, which seems similar:
https://github.com/angular-ui/ui-select/issues/1486

Looking at a comment here, seems to me this is a ui-select issue - https://github.com/angular-ui/ui-select/issues/88

[2017-02-06 17:49] stefanvanherwijnen commented on #618
You are probably right. I had been struggling with the problem for a few days, but upon writing this issue I realized it was related to the limitTo option. It seems to be a known problem with ui-select.
I finally managed to find a workaround. The problem seems to be that ui-select requires the selected items to be present in the list of items. limitTo reduces the array to a certain length which wi

[2017-02-06 17:49] #618 closed

[2017-02-06 19:06] ckosloski commented on #618
Thanks for sharing your work around.

[2017-02-07 13:03] rmannibucau commented on #584
this looks like it introduced a regression in chrome - didnt check other browsers. this.$editables[0].elem[0].text will always be undefined and therefore end = start = 0 even if there is an actual text value.

[2017-02-07 14:40] ckosloski commented on #584
@rmannibucau what version of chrome are you using?  If I go to the demo [site ](http://vitalets.github.io/angular-xeditable/#text-simple) in Chrome 56 (on a Mac), the caret is positioned to the end of the input.

[2017-02-07 14:58] rmannibucau commented on #584
Google Chrome	55.0.2883.87 (Build officiel) (64 bits)
Révision	ad0be09aa3ca814168d079b52825f6f80e22f0e8-refs/branch-heads/2883@{#723}
Système d'exploitation	Linux
JavaScript	V8 5.5.372.32
Flash	24.0.0.194
Agent utilisateur	Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87 Safari/537.36
Ligne de commande	/usr/bin/google-chrome-stable --flag-switches-begin --

[2017-02-07 15:17] ckosloski commented on #584
Can you provide a plunker or jsfiddle that shows your issue?
Or, if you find a fix that works for your application, please create a pull request.

[2017-02-07 15:54] rmannibucau commented on #584
Hi @ckosloski , here is a jsfiddle reproducing it on the mentionned environment: https://jsfiddle.net/u998qke7/

[2017-02-07 16:45] ckosloski commented on #584
This looks like it's related to the use of `e-single`

[2017-02-07 16:47] rmannibucau commented on #584
happens for me without as well (which comfort me in the idea it is a timing issue related to binding)

[2017-02-10 13:43] cp15dec commented on #434
Stuck in same requirement where I am trying to clear an editable-text field if selection is changed in an editable-select.

All these editables are enclosed inside a form element which got Save/Cancel button.

I am able to clear the text field by doing something like (in controller):
element.$form.txtField.$setViewValue
element.$form.txtField.$render
On Cancel the form value get reverted back to o

[2017-02-10 14:37] ckosloski commented on #434
Can you provide a link to a plunker or jsfiddle?

[2017-02-12 01:54] katrina-engelbrecht opened #620 "column reorder function and integration with Angular 2"
Hello,
I am looking for a datatable which can be used in Angular 2 and has column reorder function and row based editing function. Then I found your repository. It looks very nice! But now we all trying to use angular 2, when can I use your component in Angular 2?

Regards,
Katrina

[2017-02-12 17:54] rusackas opened #621 "Not parsing popover options?"
Maybe I'm just missing something, but I have a popover editable (which is lovely to have, thank you), with HTML like so:

[code]

Presumably, on the wrapper, I'd like to add the following options, which seem to be ignored by
`popover-append-to-body`
`placement="bottom"`

..which I also tried as
`e-popover-append-to-body`
`e-placement="bottom"`

I also tried them on the `<a>` tag, but alas, no dice

[2017-02-13 14:49] ckosloski commented on #621
Hi, there is no directive for the popover, it's a purely css implementation and it's not related to the ui-bootstrap popover.

[2017-02-13 18:11] rusackas commented on #621
Thanks... that explains why I couldn't find the code. I guess I'm out of luck if a popover gets cut off when going outside the edge of a containing div with overvlow:hidden? I'll close the issue, but if there's a solution you're aware of, let me know. Thanks again.

[2017-02-13 19:13] ckosloski commented on #621
Open an issue with a link to a jsfiddle showing your issue so that someone can look at it.

[2017-02-14 05:06] rusackas commented on #621
I whipped up a quick Beatles editor that illustrates the issue. Clicking the names to edit them in a popover, you should see that the popover is cut off on the left and/or top due to it being in a container with overflow:auto;

http://jsfiddle.net/rusackas/gsrLo40x/6/

I think the popover placement options, or better still, the `popover-append-to-body` option would solve the issue, but I'm open to

[2017-02-14 10:19] moshfeu commented on #612
`Try adding new character, can't because of max length` - Well, I can.

See the screen record: https://drive.google.com/open?id=0By_6v7nVfuvmSDMwWjhmdVRzSDg

You can see in the video that although the input's value is already the maxlength I can type one more character. When I delete it I can't type anymore.

[2017-02-15 19:22] Snippo commented on #616
I found a workaround.
I think the problem is caused because the datepicker is not reinitialized when opened inside the form.
In normal usage, you first get the x-editable 'text box' with the datepicker attached to it. In the form the datepicker is always 'opened', thus not applying any changes.

The workaround is using ng-if on the datepicker which should be updated and a watcher on the datepicker

[2017-02-15 21:38] ckosloski commented on #616
That makes sense.  Did you want to close this issue then?

[2017-02-19 01:36] ckosloski commented on #580
This can be closed, the fiddle was updated in #583

[2017-02-19 14:50] #580 closed

[2017-02-19 17:17] ullakhan commented on #138
I am facing the below issue
Form with editable elements should have `editable-form` attribute. <span editable-text="user.name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required="" class="ng-scope ng-binding editable">

Here is the scenario:

1. I have Form which has childrens item-list  like Order form has orderLine Items.
2. I want to use the xeditable to the childerItem(orderL

[2017-02-19 17:45] ullakhan commented on #138
Hi All,

It working fine with just single form not as show in the screenshot. But the problem i have with the nesting form as mentioned earlier.
< Form >
      field 1
      field 2

  childItems with ng-repeat
   <table>
      xeditable form on each row
  </table>

Please let me know how to hack this to achieve the required functionality.

Thanks,
Nyamath
![singleform-working](https://cloud.githu

[2017-02-19 22:24] ckosloski commented on #138
See if this [comment ](https://github.com/vitalets/angular-xeditable/issues/421#issuecomment-227577623) helps you.

[2017-02-20 10:44] ullakhan commented on #138
Mentioned comment helps me to just have a single editable. But in my case I want to wrap three fields into a editable form  for each user object from users list (OrderItemList). This user grid fall inside the main form again which contains other fields too....

![sampleform](https://cloud.githubusercontent.com/assets/8574568/23121767/a45e1d32-f787-11e6-91f9-c747635f8cc3.PNG)

[2017-02-20 11:39] #617 closed

[2017-02-20 14:08] ullakhan commented on #138
@ckosloski  this is what i am trying to achive..

http://jsfiddle.net/ullakhan/jynvLfoL/

Please help me in this regard. Thanks..

[2017-02-20 15:13] ckosloski commented on #584
The issue is due to the container being a <div> instead of an <a>.  I will work on a fix for it this week.

[2017-02-22 14:28] ckosloski commented on #621
Take a look at this [fiddle](http://jsfiddle.net/ckosloski/sqd3z5wk/1/).  I got it working with a couple css changes:

[code]

[2017-02-23 06:42] rusackas commented on #621
That's **_awesome_** for most situations. I used it in my real site (which I wish I could share here) but ran into another wrinkle. If the content area with the editable is a scrolling pane, the fixed elements don't move.

I think adding some scroll event listeners and adjusting css position according to scroll offset might be the ticket here. I'll play with it. Meanwhile, I tweaked the fiddle wit

[2017-02-23 17:37] ckosloski commented on #621
Check out this [one](http://jsfiddle.net/ckosloski/q02041g7/26/)

I dynamically change the css based on show/hide so the links still properly scroll.

[2017-02-24 22:46] ckosloski commented on #612
This only seems to be an issue on Chrome.

[2017-02-27 16:31] ckosloski commented on #620
I haven't used this with Angular 2 yet.  Maybe you can figure it out and post your results here.

[2017-02-27 16:37] ckosloski commented on #559
@B3nCr did you get a chance to work on a PR?

[2017-02-27 16:39] ckosloski commented on #535
@artforlife did you ever take a look at the code for a PR?

[2017-02-27 19:48] ckosloski commented on #511
@onceaspammer did you ever come up with a pull request for this?

[2017-02-28 14:09] ckosloski commented on #399
@eugef I think this can be closed

[2017-02-28 15:08] #399 closed

[2017-03-01 07:42] jothimoorthy opened #625 "x-editable form inside another <form> is not working"
When I add x-editable table form inside another <form> tag it is not working how to fix it.

[2017-03-01 10:14] estoysol opened #626 "Enable textbox upon dropdown selection"
I have a x-editable grid with dropdown, textbox and a disabled textbox, When the user clicks add new row a row got added. But I want the textbox should be in disabled state by default. Only upon user selects an item from dropdown, the textbox next to it should get enabled. How to achive this. Below is my code.
`<thead>
                            <tr class="info ">

[2017-03-01 14:32] ckosloski commented on #626
Maybe something like:
[code]

A jsfiddle or plunker would be more helpful.

See disable [documentation](http://vitalets.github.io/angular-xeditable/#edit-disabled).

[2017-03-01 16:11] ckosloski commented on #409
The editable is expecting a model,  not a filtered value.  You should be able to apply filters to the editable input or use the work arounds listed above.

@eugef I think this can be closed.

[2017-03-01 16:17] ckosloski commented on #602
If you are having specific issues, please post a jsfiddle or plunker showing your code

[2017-03-02 09:47] #409 closed

[2017-03-03 14:46] ckosloski commented on #374
@sagimann Can you post how you were using the ng-form?   I'm trying to use the code above but I don't think I using the editable with  ng-form correctly.  I'm not able to submit the form.

[2017-03-03 14:47] ckosloski commented on #368
This looks to be answered with the last comment.
@eugef please close.

[2017-03-03 14:49] ckosloski commented on #364
@eugef this can be closed, it was fixed by #489

[2017-03-03 14:51] ckosloski commented on #362
@eugef it looks like he answered his own question since the plnkr has the computed value.  Please close.

[2017-03-03 14:52] ckosloski commented on #356
@eugef please close, this is an angular issue, not a xeditable issue.

[2017-03-03 14:53] ckosloski commented on #355
@eugef please close

[2017-03-03 14:54] ckosloski commented on #351
@eugef looks like a valid answer was given.  Please close.

[2017-03-03 14:55] ckosloski commented on #346
@eugef looks like he answered his own question, please close.

[2017-03-03 14:56] ckosloski commented on #344
@eugef a valid answer was given, please close.

[2017-03-03 14:57] ckosloski commented on #342
@Pavan1889 have you tried this on the most recent build?

[2017-03-03 14:57] ckosloski commented on #338
@eugef please close

[2017-03-03 14:59] ckosloski commented on #334
@khaltouaca can you provide a plnkr or jsfiddle showing your issue?

[2017-03-03 15:07] #364 closed

[2017-03-03 15:15] ckosloski commented on #329
@dlwhiteman can you share you code?

[2017-03-03 15:15] ckosloski commented on #324
@eugef please close

[2017-03-03 15:16] ckosloski commented on #323
@eugef please close

[2017-03-03 15:55] #368 closed

[2017-03-03 15:55] #362 closed

[2017-03-03 15:55] #356 closed

[2017-03-03 15:55] #355 closed

[2017-03-03 15:55] #351 closed

[2017-03-03 15:55] #346 closed

[2017-03-03 15:55] #344 closed

[2017-03-03 15:55] #338 closed

[2017-03-03 15:55] #324 closed

[2017-03-03 15:55] #323 closed

[2017-03-05 15:52] beedaan commented on #336
I can't replicate this issue anymore, so I'd like to close it.

[2017-03-05 15:56] ckosloski commented on #336
@eugef please close this issue.

[2017-03-06 09:09] #625 closed

[2017-03-06 09:15] jothimoorthy opened #627 "make a newly added row editable directly"
when I add a new row to a x-editable table
the row gets added but it is not editable
I need to click on the edit button on that row to make that newly added row editable

I don't what I am missing in my code
how to make a newly added row editable directly without clicking the edit button.

[2017-03-06 09:18] jothimoorthy commented on #627
what does this attribute do ? shown="inserted == user"
http://jsfiddle.net/NfPcH/93/

[2017-03-06 10:07] #336 closed

[2017-03-06 14:21] ckosloski commented on #627
Per the [documentation](http://vitalets.github.io/angular-xeditable/#ref-form)

[2017-03-06 22:41] B3nCr commented on #559
@ckosloski  I can't get my head around git's PR system, only including the bits I need and squashing it into a single commit.

I'll have another go now.

[2017-03-06 22:44] ckosloski commented on #559
Let me know if you are having any specific issues and I can try to help.

Here's a good link on [squashing](https://github.com/ginatrapani/todo.txt-android/wiki/Squash-All-Commits-Related-to-a-Single-Issue-into-a-Single-Commit).

[2017-03-07 01:11] B3nCr commented on #559
Okay, I've managed to get my commits into a single commit, not by squashing but it's done.

I basically had to re-fork the repo again and re-do my change because I was so out of date and trying to merge all the branches again was causing too much aggravation considering this is basically a three line change.

The problem now is that I'm having problems running the tests. The tests in master don't

[2017-03-07 09:38] B3nCr commented on #559
Here's the link to the PR to associate it with this issue. https://github.com/vitalets/angular-xeditable/pull/630

[2017-03-07 13:09] BukicMicko opened #631 "Only one editable-text to be opened at same time"
I am adding editable-text inside ng-repeat. With current code I am able to open all editable-text fileds at same time. What I need is when I open one editable-text field others to be disabled till I not close the open one(click on Save button). Take a note that I have one editable-text and one editable-select, so when i click on editable-text both editable-text and editable-select are opened which

[2017-03-07 13:27] BukicMicko commented on #631
If I remove form tag and use e-form for both only can be open at time but now when i click on editable-text only editable-text is shown without editable-select and Save button is not overriden.
[code]

[2017-03-07 15:50] #559 closed

[2017-03-07 15:54] ckosloski commented on #631
Did you try using the [edit-disabled](http://vitalets.github.io/angular-xeditable/#edit-disabled) attribute?

[2017-03-07 16:03] BukicMicko commented on #631
Hey @ckosloski well how can I use edit-disabled? I mean because I have ng-repeat inside ng-repeat how to add condition in ng-disabled that some form is opened?

[2017-03-07 16:04] ckosloski commented on #288
@eugef there is an answer, please close.

[2017-03-07 16:13] ckosloski commented on #273
@eugef please close.

[2017-03-07 16:17] ckosloski commented on #631
There is a $visible property of the [form](http://vitalets.github.io/angular-xeditable/#ref-form)

Maybe you need to create a plnkr/jsfiddle showing your issue (I might not be understanding what you want)

[2017-03-07 16:19] ckosloski commented on #265
@eugef please close.  Radiolist works in the current release.

[2017-03-07 16:20] ckosloski commented on #263
@eugef please close

[2017-03-07 16:21] ckosloski commented on #252
@eugef please close

[2017-03-07 16:22] ckosloski commented on #248
@eugef please close.  bs-date is working with the current version of xeditable and uibootstrap

[2017-03-07 16:23] ckosloski commented on #236
@eugef question answered, please close

[2017-03-07 16:56] BukicMicko commented on #631
Hey @ckosloski here is plunker :

https://plnkr.co/edit/5aZ1v9qsxivyiUvlNVed?p=preview

Somehow I cannot fix editable-text to be open, when clicking on some hour form x-editalbe should be shown. Basically what I want is if I open any editable text in some table in every other table x-editable fields to be disabled.

[2017-03-07 17:14] ckosloski commented on #631
Based on the data in your plnkr:

![image](https://cloud.githubusercontent.com/assets/13999559/23668503/ef6f19d4-0326-11e7-902d-a367e7051129.png)

Do you want just one item in edit under "One, Coordinator Total Hours" or all items in edit?
And then if something is in edit under "One, Coordinator Total Hours", does that mean nothing is editable in "BAKER, DAWN A 	Total Hours"

[2017-03-07 17:20] BukicMicko commented on #631
Hey @ckosloski yeaaah if one item on One, Coordinator is in edit more, nothing is editable in all other tables, that means also in One, Coordinator other cannot be editable.

[2017-03-07 17:37] ckosloski commented on #631
There is the "minutes" field missing from my screenshot.
So, you want to be able to edit the hours/minutes for one row at a time, is that correct?

[2017-03-07 18:12] BukicMicko commented on #631
Yup that is correct.

[2017-03-07 19:57] jjreicher commented on #465
Running into the same issue...seems like not much activity here...

[2017-03-07 19:59] ckosloski commented on #465
Do you have a plnkr/jsfiddle showing your issue?  This will help others investigate your issue.

I have a Mac, so not easy for me to test with IE11.

[2017-03-07 20:59] jjreicher commented on #465
http://plnkr.co/edit/Mn4vnP9vYS9eFiWhaNYQ?p=preview

Works in Chrome. Doesn't work in IE11.

[2017-03-07 21:09] ckosloski commented on #631
Check out this [plunker](https://plnkr.co/edit/eHIZJVzzGVIkZLTgl8Ry?p=preview), I think it gets you on the way to what you want.

[2017-03-08 07:38] #437 closed

[2017-03-08 09:29] #288 closed

[2017-03-08 09:29] #273 closed

[2017-03-08 09:29] #265 closed

[2017-03-08 09:29] #263 closed

[2017-03-08 09:29] #252 closed

[2017-03-08 09:29] #248 closed

[2017-03-08 09:29] #236 closed

[2017-03-08 10:03] BukicMicko commented on #631
Hm.. yeah this is good only one at time can be open with this implementation. Just curious if there is some attribute from x-editable that can check if some form is open so others will be disabled (with edit-disabled) condition. If not I suppose maybe in controller I can check if some form have $visible true already and not show() clicked field. Thanks.

[2017-03-08 13:24] BukicMicko commented on #631
Hey @ckosloski I don't want to open new issue, will ask you here. How can i restrict user to be able o type only numbers in editable-text? I don't want to use editable-number cause I am getting strings as numbers from back end and when open editable field I am getting error that expects to be number. I tried adding e-ng-patter="regexForOnlyNumbers" but user is still allowed to type strings, charac

[2017-03-08 14:03] ckosloski commented on #465
I couldn't get the plnkr site to load in IE11 ☹️

[2017-03-08 14:53] jjreicher commented on #465
Well it's pretty simple anyways. Basically loads up fine. Then when you click on the item, it ONLY remains in the editable state while **actively** holding down the mouse-click. As soon as you let up on the mouse-click, it reverts to text state.

![pic1](https://cloud.githubusercontent.com/assets/13351061/23708717/c5a95920-03cb-11e7-944e-eab117fe1404.PNG)
![pic2](https://cloud.githubusercontent.co

[2017-03-08 15:43] ckosloski commented on #631
I see ngPattern [working](https://plnkr.co/edit/eHIZJVzzGVIkZLTgl8Ry?p=preview).  It doesn't prevent values, it marks the field as invalid.
If you want to prevent the value, you would have to do something with onkeyup/down/change to do something if a non number is entered.
There is a [shown](http://vitalets.github.io/angular-xeditable/#ref-form) attribute on the form.

[2017-03-08 15:47] BukicMicko commented on #631
Thanks @ckosloski will close issue now.

[2017-03-10 21:20] ckosloski commented on #183
@eugef please close, the html5-inputs phone issues where fixed in #561

[2017-03-12 02:49] kyogom opened #632 "Cannot import and inject xeditable"
Do you have any idea about this message?

Error: [$injector:modulerr] Failed to instantiate module {} due to:
Error: [ng:areq] Argument 'module' is not a function, got Object
http://errors.angularjs.org/1.6.2/ng/areq?p0=module&p1=not%20a%20function%2C%20got%20Object
    at http://localhost:3000/vendor.bundle.js:195:13
    at assertArg (http://localhost:3000/vendor.bundle.js:2103:12)
    at assertA

[2017-03-12 02:58] #632 closed

[2017-03-13 03:17] pradyumnad opened #633 "Uncaught TypeError: angular.forEach is not a function"
Do you have any specification for angularjs?
I am using it with angularjs 1.5.8

[2017-03-13 08:42] #183 closed

[2017-03-13 14:10] sim999 opened #634 "Icon inside input field"
Hi,

First thanks for the library !

I would like to include an asterix icon for mandary field inside input like on this demo :
http://formvalidation.io/addons/mandatoryIcon/. It is very similar to Bootstrap Form Control States
with the .has-feedback class.

 How can I achieve this ?

[2017-03-13 14:56] ckosloski commented on #188
I tried the plnk on my iPad 2 and I didn't see an issue.  Is this specific to iPad mini?

[2017-03-13 15:06] ckosloski commented on #634
I think the closest thing is to add the [input group](http://vitalets.github.io/angular-xeditable/#text-customize) and style it.

[2017-03-13 15:07] ckosloski commented on #633
Can you post a plnkr or jsfiddle showing your error?  I have used 1.5.8 and I'm currently on 1.6.2 with no issues using xeditable.

[2017-03-13 19:45] viniciusaugutis opened #635 "Using tag "form" with angular-xeditable and validate the form"
Hi all. I have a form with some xeditable, which are working, however what I want to do is validate if the form's cpf field is valid. I am using the angular input mask to validate cpf. The problem is that I can not link the form with field cpf, so I can not tell if it is in error or not in cpf.

I've already tried using the name, e-name and e-form attribute and it did not work.
Can anybody help me

[2017-03-13 20:00] ckosloski commented on #635
Can you provide a plnkr or jsfiddle showing your issue?

Is it that you have two fields and you are trying to validate one based on the other?

[2017-03-14 01:51] opencubicles opened #636 "empty date issue when using combo date"
I am unable to set the combo date input values from non-empty to empty.

http://jsfiddle.net/opencubicles/vu8zLoh3/21/

it's not required input.

[2017-03-14 01:52] pradyumnad commented on #633
Sorry my bad, I missed the order of scripts included..

[2017-03-14 01:52] #633 closed

[2017-03-14 01:53] viniciusaugutis commented on #635
@ckosloski I made a few examples here in jsfiddle that will get easier to understand what I want to do.

Eu quero fazer a mesma coisa que eu fiz nesse exemplo(utilizando form e input), mas utilizando form e xeditable.

Here the code with Form and Input

http://jsfiddle.net/vinicius_augutis/tuevy0Lj/

Here the code with Form and Xeditable(not working correctly)

http://jsfiddle.net/vinicius_augutis

[2017-03-14 09:21] sim999 commented on #634
thnaks for your answer

[2017-03-14 09:21] #634 closed

[2017-03-14 13:13] ckosloski commented on #635
Currently the angular form validations don't work well with xeditable.  You would have to use [onbeforesave](http://vitalets.github.io/angular-xeditable/#editable-form) to do your validation.

[2017-03-14 13:16] ckosloski commented on #636
Can you be more specific on what your issue is?

When I go to the jsfiddle, I see a value for User DOB and I can change it.

[2017-03-14 13:45] opencubicles commented on #636
If you try to edit the date and leave the values for all the the options as empty for combo-date dropdown and hit save, it will not retain the new empty value.

[2017-03-14 14:32] BukicMicko opened #637 "Copy/Paste only first paragraph is pasted in input"
I am using angular-xeditable. After reaching to max allowed number of characters i am disabling button and showing error message. This is working fine on all browsers. However if i copy paste text that is in paragraphs in IE onlt first paragraph is pasted, on FF and Chrome is good. For example if e-ta-max is set to 10 and i try to copy paste this text in input on IE :

[code]

only asadfasdd os be

[2017-03-14 15:47] ckosloski commented on #637
Why not use `edtiable-textarea` since you are using multi-line data?

[2017-03-14 15:56] BukicMicko commented on #637
Well I wanted to go with editable-textarea but requirement is to use simple text and if text is bigger than 65 characters I am showing tooltip.. stupid but that is how I must go...

[2017-03-14 16:27] ckosloski commented on #637
As far as I know, line are only allowed in textarea's.
Maybe you could style the textarea to look more like a normal input.
Or maybe you have an "on-paste" method that strips out the line breaks.

[2017-03-15 13:10] BukicMicko commented on #637
Hey @ckosloski  I agree with you. If we want lines (paragraphs) we need to use textareas.. I was just curious because I see that in Text Angular there was made PR that fix this on Chrome and Mozilla but not FF... Thanks anyway I will close PR.

[2017-03-15 13:10] #637 closed

[2017-03-17 09:36] dongyb80 commented on #336
I guess it is the same issue I am seeing.
http://jsfiddle.net/dongyb/msjc56w3/

[2017-03-17 09:41] dongyb80 commented on #336
The jsfiddle code posted above is forked from official example of Editable row.
What I changed are:
1) change the mocked post /saveUser to return 406.
2) change the saveUser function of controller to reject with error message.
After the changes, when edit a row and submit it. it fails but no error message shown

[2017-03-17 13:52] ckosloski commented on #336
The [documentation](http://vitalets.github.io/angular-xeditable/#editable-form) for `onbeforesave` says a string must be returned and that string is displayed as the error.

[2017-03-19 03:15] dongyb80 commented on #336
Thanks for your reply @ckosloski .
In the section 'Validate remote' of documentation, it says "
You can perform remote validation e.g. checking username in db. For that define validation method returning $q promise. If promise resolves to string validation failed.
"
In my example, http://jsfiddle.net/dongyb/msjc56w3/, it does return a promise that resolves to string.

[2017-03-20 17:08] ckosloski commented on #336
Your issue is different that the one mentioned originally.  It seems there is no handling/display of error messages for the onbeforesave that is set at the form level.

It does seem like the documentation does back that up:

The result of form's onbeforesave is important for next step:

true or undefined: local model will be updated and form will call onaftersave
false: local model will not be upd

[2017-03-20 22:28] thienedits commented on #585
Hello sorry to hijack this post but I have a question about the displayed datetime value. When testing locally on my machine the displayed valued is shown in UTC. Is this working as should? How do you get the displayed value to show in the users timezone?

[2017-03-20 22:48] thienedits commented on #585
hmmm nvm, I don't think our api is correctly returning datetime in UTC format.

[2017-03-21 01:31] dongyb80 commented on #336
@ckosloski  you are right. As what you say my real question is that "no display of error message for the onfbeforesave that is set at the form level".
It seems likely it is not designed to display error message at form (row in my case) level. It is only designed to display error message at field (td) level.
I am working around it to call 'form.$setError(null, " ")' in the form's onbeforesave, whic

[2017-03-21 08:52] thienedits opened #639 "How can i get this format using combodate 2017-03-21T01:21:12-07:00"
I tried using `e-format="YYYY-MM-DD +-HH:mm"` but got error `Uncaught RangeError: Invalid time value` when saving.

`<span editable-combodate="eventCtrl.event.startTime" e-name="startTime" e-format="YYYY-MM-DD +-HH:mm" e-template="YYYY / MM / DD     HH : mm">{{ (eventCtrl.event.startTime |  date:"medium") || 'empty' }}</span>`

any ideas?

[2017-03-21 09:33] #636 closed

[2017-03-21 13:09] ckosloski commented on #336
@dongyb80 I did take try some stuff to see if I could get errors to display on the form level, but I didn't get anything to work.  If you come up with something, please post your code here.

[2017-03-21 13:29] ckosloski commented on #639
Looking at this I am thinking you don't need `e-format`.  If you are trying to saving the data in the db with that format, then you need to convert it before saving.
The code is always returning the isoString value of the date. I think you just need to take that and format it how you need it.

[2017-03-21 17:39] opencubicles commented on #636
Thank you!

[2017-03-21 21:27] thienedits commented on #639
ok thanks thats what i was thinking of doing.

[2017-03-21 21:27] #639 closed

[2017-03-22 03:03] dongyb80 commented on #336
@ckosloski
Please see http://jsfiddle.net/dongyb/msjc56w3/4/
It shows what I said in previous post. It does NOT show error message. It shows all fields in red border to indicate something is wrong. To see how it behaves, edit a row and click save button.
It is absolutely NOT good solution. Please let me know if you have better one :)

The key pieces of code posted below

 $scope.saveUser = functio

[2017-03-22 09:31] thienedits opened #640 "How can you set combodate to empty value?"
Selecting the empty values from the select element I get console error `Uncaught RangeError: Invalid time value`. From the current logic it doesn't look likes its possible to set the combodate to an empty or null value.

[2017-03-22 11:24] B3nCr opened #641 "Help running new Protractor tests on Travis-CI"
Hi

I've made a start trying to convert the existing tests to use protractor and I'm trying to run them on TravisCI/SauceLabs.

So far I've got a couple of simple tests passing locally but I'm having trouble on Travis and I can't see what the problem is. Would anyone else mind having a look for me in case it's something stupid.

This is the travis build.  https://travis-ci.org/B3nCr/angular-xedita

[2017-03-22 11:53] eugef commented on #641
Seems like you are using  io.js v3.3.1 on Travis, which doesn't support arrow function syntax.

Try to use node v6.

[2017-03-22 13:25] ckosloski commented on #640
This was just [fixed](https://github.com/vitalets/angular-xeditable/pull/638).  There needs to be a new release published or you can build the code your self until a new release is published.

[2017-03-22 13:26] ckosloski commented on #336
Thanks @dongyb80, at least it's a step in the right direction :)

[2017-03-22 13:39] B3nCr commented on #641
Nice one, that's got me a bit further on. I'll keep plodding away.

I'll leave this open for now incase I have any other issues getting the tests running

Thanks

[2017-03-22 14:32] ckosloski commented on #139
@eugef please close, this issue looks like it's answered.

[2017-03-22 14:35] ckosloski commented on #126
@eugef This issue looks answered, please close

[2017-03-22 14:39] ckosloski commented on #105
@eugef `ng-change` is now supported, please close.

[2017-03-22 15:02] ckosloski commented on #77
See this [thread](https://github.com/angular-ui/bootstrap/issues/981) on your options for for doing this.

[2017-03-22 22:12] joaopgg opened #642 "New Release"
Guys, when are you planning to release a new version with the merged changes (npm/bower)?

Best regards
João Gomes

[2017-03-23 13:08] ckosloski commented on #642
@eugef when do you plan on doing a release?

[2017-03-23 16:29] eugef commented on #642
Will do release tomorrow.

[2017-03-23 16:31] #139 closed

[2017-03-23 16:31] #126 closed

[2017-03-23 16:31] #105 closed

[2017-03-24 00:15] B3nCr commented on #641
Boom. Travis-CI status is green!

Only 5 tests so far but it's progress.

https://travis-ci.org/B3nCr/angular-xeditable/builds/214473297

[![Build Status](https://travis-ci.org/B3nCr/angular-xeditable.svg?branch=protractor)](https://travis-ci.org/B3nCr/angular-xeditable)

[2017-03-24 10:44] joaopgg commented on #642
Thanks guys

Cheers.

[2017-03-24 12:26] eugef commented on #642
New release 0.7.0 is out

[2017-03-24 12:26] #642 closed

[2017-03-24 12:52] Sharvadze opened #643 "angular-sanitize not found on demo page"
Hi,

This file is missing and demo page doesn't work because of that

https://vitalets.github.io/angular-xeditable/bower_components/angular-sanitize/angular-sanitize.js

[2017-03-24 13:40] ckosloski commented on #643
@eugef looks like something didn't build right, can you take a look?

[2017-03-24 13:50] eugef commented on #643
Thanks for the quick feedback. I fixed it.

[2017-03-24 13:50] #643 closed

[2017-03-27 17:47] thaodx opened #644 "[Help]Custom input, several fields for angular js"
I found this demo:
http://vitalets.github.io/x-editable/demo-bs3.html?c=popup
With 'Custom input, several fields' in jQuery, anyone can turn into angular js version for this example?

[2017-03-28 20:04] thienedits commented on #640
ok thanks.

[2017-03-28 20:04] #640 closed

[2017-03-29 08:26] gerome0123 opened #645 "update inline file??"
is there possible to edit type file in xeditable???

[2017-03-30 17:09] jongunter commented on #621
I'm having this issue, as well.

[2017-03-31 00:16] ckosloski commented on #621
Please provide a plunkr or jsfiddle showing your issue.

[2017-03-31 00:17] ckosloski commented on #645
An input type of file currently isn't supported.  Pull requests are welcome :)

[2017-03-31 05:47] gerome0123 commented on #645
thanks for the reply i'm new in angularjs lol XD additional question @ckosloski can i run xeditable in mddatatable by iamisti/mdDataTable

[2017-03-31 17:32] ckosloski commented on #645
I'm not sure.  You can try and report back your results.  I did find issue #232 which may help.

[2017-04-04 01:09] gerome0123 commented on #645
ok i will try that one thanks :*

[2017-04-05 22:52] jongunter commented on #621
http://plnkr.co/edit/c5v1PH4uDBpoxuXegtx0?p=preview

As you can see, when the popover opens, it is cut off by the sidebar. Usually I would use the `popover-append-to-body` option with UI bootstrap to prevent this problem, but this popover isn't internally created using ui-boostrap, correct?

Yeah, I could tweak some CSS (I'm adding this plugin a large legacy codebase, which makes that solution a b

[2017-04-06 13:32] BukicMicko commented on #631
Hey @ckosloski  I have one question, maybe you are familiar with this. Editable-number in IE is allowing user to enter non-numeric values, in Chrome and FF is good, user can enter only numbers (also decimal numbers). Because of this i want to use ng-pattern to allow only numbers but it seems that IE is allowing even with  ng-patter user to enter non-numeric values and we don't have error in form..

[2017-04-07 17:49] Johan-CR opened #646 "editableOptions.blurElem with editableOptions.buttons not working"
The use of the option blurElem = 'submit'; does not work if used with buttons = 'no'

  editableOptions.blurElem = 'submit';
  editableOptions.buttons = 'no';

http://jsfiddle.net/Johan_CR/w3353mhk/

[2017-04-10 18:31] ckosloski commented on #645
@gerome0123 I take my comment back, the file input type is supported, it's just not in the documentation.  I'll update the document in a future pull request.

[2017-04-10 18:32] ckosloski commented on #621
Pull requests are welcome :)

[2017-04-10 18:38] ckosloski commented on #631
What version of IE and what non-numeric values are you seeing it allow?
Unfortunately xeditable doesn't have access to the errors object.  You could do an `onbeforesave` function that validates the value and stops form submission if the value is invalid.

[2017-04-10 18:41] ckosloski commented on #646
This is only an issue with the bootstrap datepicker

[2017-04-10 19:58] ckosloski commented on #644
This is not currently available.  Pull requests are welcome :)

[2017-04-10 20:35] BukicMicko commented on #631
Iternet Explorer 11 (Version 11.633.10586.0). It allows all alphabets and also all characters (and i need only
'.' to allow). So maybe as you said on onbeforesave function i can check with pattern in this function and stop submission if value is not valid...

[2017-04-11 05:30] calhouncole opened #647 "All JSFiddle Examples are broken"
After the release of 0.7.0, it appears that all of the JSFiddle examples referenced from the documentation [here](https://vitalets.github.io/angular-xeditable/) are broken.

[Broken Example](http://jsfiddle.net/NfPcH/25/)

[2017-04-11 13:19] ckosloski commented on #647
I'll see what I can do to get them updated.

[2017-04-11 17:42] efsh commented on #647
Try update to latest AngularJS1 version (1.6.4)

[Here an example]( http://jsfiddle.net/jacone/6o775a1f/1/)

[2017-04-12 02:45] gerome0123 commented on #645
@ckosloski sweet!!! :)

[2017-04-17 10:12] pavi95 commented on #59
Any update on this? Am stuck with this issue..

[2017-04-17 10:24] pavi95 commented on #95
Did you sort out this @HollandRisley

[2017-04-17 13:18] ckosloski commented on #45
@pavi95 can you provide a jsfiddle/plunkr showing your issue?

[2017-04-17 13:19] ckosloski commented on #95
@pavi95 what exactly is your issue?

[2017-04-17 13:20] ajjublr commented on #45
Yeah, please do so...

On Mon, 17 Apr 2017, 18:48 ckosloski, <notifications@github.com> wrote:

[2017-04-17 13:22] ckosloski commented on #59
@pavi95 what exactly is your issue?  As far as I know `e-ng-change` should work.  Please provide a jsfiddle/plunkr showing your issue.

[2017-04-17 14:33] Johan-CR commented on #646
That is not correct, this is a issue with all the inputs, I change the example and add a text input

http://jsfiddle.net/Johan_CR/w3353mhk/2/

[2017-04-18 04:29] pavi95 commented on #59
@ckosloski Exactly my issue is cascading dropdown. While am selecting dropdown A, it will update the dropdown B like country and state. my scope variable is not updating in my view :(

[2017-04-18 05:25] pavi95 commented on #95
@ckosloski  Thank you very much for your time.. I found this [https://jsfiddle.net/32kzsvve/1/](url) Such an awesome. It may help others :)

[2017-04-18 05:26] pavi95 commented on #59
@ckosloski Thanks for your time man.. I found this [https://jsfiddle.net/32kzsvve/1/](url).. It helps me out..

[2017-04-18 05:28] pavi95 commented on #45
@ckosloski  @ajjublr Thanks for your valuable time man. I found this fiddle.. It helps me out.. https://jsfiddle.net/32kzsvve/1/ it may help others

[2017-04-18 13:02] usamakhalil86 commented on #555
The fiddle is no more working and also the code does not works with latest  * Version: 0.19.5

[2017-04-18 13:12] ckosloski commented on #555
See #647

[2017-04-18 14:16] pavi95 commented on #645
@ckosloski  Can you please let me know how to handle the uploaded file on update to server? Not able to get the file using scope. Please help me out

[2017-04-18 14:39] ckosloski commented on #645
Can you provide code and any errors you are seeing?

[2017-04-18 14:54] pavi95 commented on #645
@ckosloski  Thanks for your reply. Please find my code

My template:

<td>
			<span  e-ng-file-select="onFileSelect($files)" e-accept=".jpg,.png,.gif,.jpeg" editable-file="item.channel_logo" e-name="channel_logo" e-form="rowform"  e-required>{{item.channel_logo}} </span>
			<img id="loadPic" ng-src="{{picture}}" >
</td>

Form Submit:

 <form editable-form name="rowform" ng-show="rowform.$visible"

[2017-04-18 15:20] ckosloski commented on #645
How is updateItem called?

[2017-04-19 04:27] pavi95 commented on #645
Please find it here

`<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == item" onbeforesave="updateItem($data, $files, item.channel_id, rowform)">`

[2017-04-19 17:50] ckosloski commented on #645
What are you trying to achieve with `$files`?  If you want to get the model, I think it should be `$parent.$data`

[2017-04-20 05:38] pavi95 commented on #645
Thanks @ckosloski

[2017-04-24 08:16] gerome0123 opened #650 "there is something wrong in your jsfiddle"
![screen shot 2017-04-24 at 4 16 07 pm](https://cloud.githubusercontent.com/assets/20182366/25328133/4d66e24e-2909-11e7-87f9-aa35eba9d0f3.png)

[2017-04-24 08:18] #646 closed

[2017-04-24 13:41] ckosloski commented on #650
This is a duplicate of #647, please close.
Also, I just checked in a change fixing the fiddle links, a new build is required.

[2017-04-25 01:04] #650 closed

[2017-04-25 01:11] gerome0123 opened #651 "can i use angular-material in angular-xeditable???"
i'm using angular-material but xeditable is using boostrap. am i right.?

[2017-04-25 01:18] gerome0123 opened #652 "can i use datepicker without bootstrap?"
how to put a simple html date picker?

[2017-04-25 01:28] ckosloski commented on #652
There is a [HTML5 ](http://vitalets.github.io/angular-xeditable/#html5-inputs )date picker, but it is not supported by all browsers.  It does work in Chrome.

[2017-04-25 01:29] ckosloski commented on #651
Correct.  Try looking at this #232

[2017-04-25 02:03] gerome0123 commented on #652
@ckosloski can u give a sample of combodate without time

[2017-04-25 02:04] #651 closed

[2017-04-25 02:17] ckosloski commented on #652
Try `e-data-template="DD / MM / YYYY"`

[2017-04-25 02:22] gerome0123 commented on #652
![screen shot 2017-04-25 at 10 23 14 am](https://cloud.githubusercontent.com/assets/20182366/25366252/0eb9b682-29a1-11e7-8341-17691f31a665.png)

didn't work

[2017-04-25 04:37] gerome0123 commented on #652
i just create my own combodate by using editable-select btw thanks @ckosloski 😘😘😘

[2017-04-25 08:19] pavi95 opened #653 "Change Scope when edit mode"
Hi
I am using X editable for my website. I am googling for many hours, still not get any solution for my scenario. Please help me out.
My Questions:
1. I have to choose drop down A, based on the selected value, scope values will update by retrieving the data from API and load it to another drop down B.
2.  And i have another drop down C, based on this selection. I need to show different input type

[2017-04-25 12:58] ckosloski commented on #653
You posted this https://jsfiddle.net/32kzsvve/1/ previously which you said helped you.  What is not working for you?
If you want more specific help, you will need to post a jsfiddle/plunkr so people can see your code and help you with your issues.

[2017-04-26 04:58] pavi95 commented on #653
Yes it worked only for the static data not for the dynamic API call. That is my problem here. Please find the js fiddle here https://jsfiddle.net/Pavi95/k2f6osdu/1/

[2017-04-26 15:55] ckosloski commented on #653
When I go to that fiddle, I see the following JS errors:
[code]
You are also using an older version of xeditable.

[2017-04-27 11:13] pavi95 commented on #653
Please check this fiddle https://jsfiddle.net/Pavi95/k2f6osdu/5 I updated sample data format below HTML section

[2017-04-28 14:20] ckosloski commented on #195
@eugef This question has been answered, please close

[2017-04-28 14:29] altsanz commented on #195
hey, yes, this has been answered. And thanks a lot!

[2017-04-28 14:29] #195 closed

[2017-04-28 18:19] bholzer opened #654 "e-form object not available to sibling element"
I am trying very hard to get a jsfiddle that shows my issue, but I can't reproduce this elsewhere.

I have some markup that looks like this:

    <li
        ng-repeat="answer in selected_answers"

        <span
          class="answer-text"
          ng-bind="answer"
          editable-textarea="answer"
          e-form="edit_answer"
          e-clickable="true"
          e-auto-grow
          bl

[2017-05-04 06:51] ikwijaya opened #655 "inline editing cannot post to db, and how to create debug"
dear vitalets,

i have some code below:
dirPagination for paging and xeditable for inline editing, in my case i want just change 1 column if i click the value in column, and save to my db or ldap server in my case. Here the code i was create,
- js file
`var app = angular.module('appRoot',["angularUtils.directives.dirPagination","xeditable"]);
app.controller('ctrlData', function($scope,$http){

[2017-05-04 13:23] ckosloski commented on #655
The code seems ok.
Are there any errors in the console?
Did you try putting in a console.log in the updateUser function to verify it is being called?

[2017-05-04 21:42] ckosloski commented on #621
@jongunter Take a look at [this](http://jsfiddle.net/ckosloski/dkbhc9s5/13/) and see if it helps.

[2017-05-05 08:58] ikwijaya commented on #655
here?
![image](https://cloud.githubusercontent.com/assets/23114902/25739284/76414362-31ab-11e7-8459-628e1a8400f1.png)

why not action show in console log in browser?
here my sources included:
![image](https://cloud.githubusercontent.com/assets/23114902/25739339/baf92290-31ab-11e7-9f99-7a5543b143c3.png)

[2017-05-05 13:13] ckosloski commented on #655
Are you sure that `$scope.dataTable.nik` has a value?
It looks like dataTable is a list, not an object.
Maybe you need to try `onaftersave="updateUser(adb.nik, adb.ipphone)"` and see if the correct values get passed in to your function.

[2017-05-08 06:29] ikwijaya commented on #655
case close sir..
here my last code
![image](https://cloud.githubusercontent.com/assets/23114902/25792661/145b2fac-33f2-11e7-99fd-da342e04abc2.png)

i change some code like updateUser(data,id) in js. So in xeditable use onbeforesave=updateUser($data,adb.nik)
code working perfectly

nuhun pisan..

[2017-05-08 06:30] #655 closed

[2017-05-09 10:06] gerome0123 commented on #652
@ckosloski can you give an example for datapicker simple html

[2017-05-09 12:22] malothnaresh commented on #313
I had the same issue, but e-init-date="false" solved my problem

[2017-05-09 12:57] ckosloski commented on #652
What exactly do you want an example of?  I had previously posted about combodate.  If you are still having issues with combodate, please post a jsfiddle/plunker of your issue.

[2017-05-09 13:43] ckosloski commented on #535
Take a look at [this](http://jsfiddle.net/ckosloski/dkbhc9s5/13/) and see if it works for you.

[2017-05-09 13:44] ckosloski commented on #644
I came up with an [idea](http://jsfiddle.net/ckosloski/dkbhc9s5/13/), see if it works for you.

[2017-05-09 13:45] ckosloski commented on #449
@eugef please close, this should be fixed in the latest release.

[2017-05-09 13:46] ckosloski commented on #121
@eugef looks like a solution was posted, please close

[2017-05-09 16:12] thaodx commented on #644
Thank you very much @ckosloski

[2017-05-10 01:30] gerome0123 commented on #652
@ckosloski  thanks for the feed back i just want a plain date picker with calendar without bootstrap just a simple html

[2017-05-10 13:00] ckosloski commented on #652
That is a [jquery](https://jqueryui.com/datepicker/) date picker

[2017-05-11 01:08] gerome0123 commented on #232
can u give a working jsfiddle  or plunker for this thanks guys

[2017-05-11 01:09] gerome0123 commented on #652
oh i see that make sense now

[2017-05-11 01:09] #652 closed

[2017-05-11 05:50] gerome0123 commented on #232
@OscarAgreda can you give an example running exeditable with angular material T_T

[2017-05-15 07:32] #449 closed

[2017-05-15 07:32] #121 closed

[2017-05-16 13:31] katsos opened #656 "Option for ng-bind-html"
As you can see in my plunker below I cannot use ng-bind-html with xeditable.
I am using Angular 1.5.5. Is there any way to do it?

Plunker: http://plnkr.co/edit/UOdwEb5DSsXwmSk2MN7F?p=preview

[2017-05-16 13:38] ckosloski commented on #656
Your plnkr is using angular 1.0.8, please update it to 1.5.5 and also include angular-sanitize.js.  It is throwing error `Error: Unknown provider: $sceProvider <- $sce`

[2017-05-16 13:43] katsos commented on #656
@ckosloski sorry, wrong link. updated.

[2017-05-16 14:21] ckosloski commented on #656
I still see an error in the console:
`Error: [$sce:unsafe] http://errors.angularjs.org/1.5.5/$sce/unsafe`
If you are trying to have the html display, I think you need to do something like `$sce.getTrustedHtml`

[2017-05-16 14:52] katsos commented on #656
Thank you very much. I updated my code on plunker so anyone with the same problem can find it easy.

[2017-05-16 14:52] #656 closed

[2017-05-17 01:17] ckosloski commented on #654
I did something similar in an example [here](http://plnkr.co/edit/eHIZJVzzGVIkZLTgl8Ry?p=preview) (in my-directive.html).
That looks correct to me.  Are there any errors in your console?

[2017-05-17 01:18] ckosloski commented on #647
@eugef please close, these are fixed

[2017-05-17 01:18] ckosloski commented on #653
@pavi95 The jsfiddle link is broken.

[2017-05-17 01:19] ckosloski commented on #645
@pavi95 did you get your issue resolved?

[2017-05-17 01:20] ckosloski commented on #644
If that works for you, please close this issue.

[2017-05-17 01:28] #644 closed

[2017-05-17 21:18] ckosloski commented on #652
@gerome0123 Try using editableUidate.  It exists, but isn't documented.  I haven't used it before so I don't know if it works or not
[code]

[2017-05-18 10:49] bokrizan opened #658 "How to keep edit mode open if server returns 400"
How to keep open edit mode if server response with error? Now, when I click submit and send data to API, my form automatically is close, but I want to close edit mode only if server response with success, and stay opened if a response with an error. Thank you

`

$scope.saveTableConfig = function () {
        var config = {
            headers: {
                'Content-Type': 'application/xml',

[2017-05-18 11:45] #647 closed

[2017-05-18 11:46] #621 closed

[2017-05-18 13:33] ckosloski commented on #658
You need to return a string value in your onaftersave method:

`If you need to send data on server after writing to local model then you should define form's onaftersave.
The result of form's onaftersave is also important for next step:

string: form will not close (e.g. server error)
not string: form will be closed`

[2017-05-19 07:48] bokrizan commented on #658
Thank you for your reply. Please could you give me a little more detail to explain this, because I did not quite understand

[2017-05-22 14:33] #658 closed

[2017-05-22 14:34] bokrizan commented on #658
I fix this, thanks to @ckosloski

[2017-05-24 07:50] #572 closed

[2017-05-26 09:07] ikwijaya opened #660 "xeditable table-row, save = parse error and remove = sometimes error."
dear master,

i have some code with php - angular - dirPagination and xeditable. On my apps i create table from dirPagination and edited data as row with xeditable edit-row. But some function not run, here my code :

html table :
`<tbody>
                <tr dir-paginate="agp in dataTable | orderBy:sortKey:reverse | filter:search | itemsPerPage: pageSize" pagination-id="assgrup" style="font-size:

[2017-05-26 13:28] ckosloski commented on #660
It seems like something is happening in your request (and this seems more of a stack overflow question than and xeditable question).
Is the http request made?  If so, is there what is being returned from the server?
Are you sure your http request and .then are setup correctly?
Any way to provide a plunkr/jsfiddle showing your issue?

[2017-05-27 15:28] SebastianCBA opened #661 "Add value to dropdown"
I have a listbox that gets the data from the database:

		        <span editable-select="sectorSheet.economy_id" e-name="economy_id" onshow="loadEconomies()" e-form="rowform" e-ng-options="e.id as e.text for e in economies">
		       [[ showEconomy(sectorSheet) ]]
		        </span>
------------------------
		      $scope.loadEconomies = function() {
		        return $scope.economies.length ? null

[2017-05-27 15:45] ckosloski commented on #661
Do you want the user to be able to add an item to the list or do you need to programmatically add an item to the list?
If the second one, I think you should just be able to do a `economies.push(<your new object>)`

[2017-05-28 16:20] SebastianCBA commented on #661
Yes, I want the user to be able to add an item to the list

Like http://embed.plnkr.co/GLuyC0jpIdiEXB6R4FIa/preview

But I do not know how to apply it.

[2017-05-29 13:25] ckosloski commented on #661
ui-select is supported, please see the [documentation](https://vitalets.github.io/angular-xeditable/#uiselect).

[2017-05-30 04:11] SebastianCBA commented on #661
Yes..

			    <div editable-ui-select="sectorSheet.economy_id" data-e-form="rowform" data-e-name="economy_id" name="economy_id" theme="bootstrap" data-e-ng-model="sectorSheet.economy_id">
			      [[ showEconomy(sectorSheet) ]]
					<editable-ui-select-match placeholder="Select">
          			[[showEconomy(sectorSheet) || $select.search]]
      			</editable-ui-select-match>
      			<editable-ui-

[2017-05-30 13:02] ckosloski commented on #661
You need to use tagging.  Please see the ui-select [documentation](https://github.com/angular-ui/ui-select/wiki/ui-select).

[2017-05-31 09:10] antjori opened #662 "Cross appears at the end of input text on IE 11"
On IE 11 (version 11.0.9600.18665), after selecting the element to edit, a cross appears at the end of the input text that, when clicked, doesn't do anything.

![untitled](https://cloud.githubusercontent.com/assets/8490141/26624546/1d8d2b44-45e9-11e7-8b13-fc49399aaaf4.png)

Is there a way to remove/hide it on IE? This behavior does not occur on other browsers (Google Chrome and Firefox).

[2017-05-31 14:17] ckosloski commented on #662
That x is specific to IE and is supposed to clear the box.

If you want to stop the x from displaying, take a look [here](https://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs/14739092#14739092).

[2017-05-31 15:11] antjori commented on #662
Hey @ckosloski,

Thank you for your feedback!

It solved my issue :wink:

Much appreciated!

[2017-05-31 15:11] #662 closed

[2017-05-31 17:59] SebastianCBA opened #663 "Listbox custom background"
I have this editable-select

`<span editable-select="sectorSheet.economy_id" e-name="economy_id" onshow="loadEconomies()" e-form="rowform" e-ng-options="e.id as e.text for e in economies.concat(emptyVal)" e-ng-change="popNew($data, 'div_economy_name')" ></span> `

and emptyVal is called from scope like:

`$scope.emptyVal = [{id: '0', text: 'Or Add New Value'}]; `

how I can change the background c

[2017-05-31 18:47] ckosloski commented on #663
Try this css:
[code]

Taken from [here](https://stackoverflow.com/questions/12836227/how-to-change-select-box-option-background-color)

[2017-05-31 19:01] SebastianCBA commented on #663
perfect! thanks

[2017-05-31 19:01] #663 closed

[2017-06-07 13:38] ckosloski commented on #545
@wetternest this should be fixed now, can you retest.

[2017-06-07 13:50] ckosloski commented on #511
@azizultex @onceaspammer Here is an [example](http://plnkr.co/edit/eHIZJVzzGVIkZLTgl8Ry?p=preview) I created for someone else that shows opening two fields with one click.

[2017-06-07 13:52] ckosloski commented on #497
@eugef I think this issue can be closed.

[2017-06-07 13:54] ckosloski commented on #468
@eugef I think this issue can be closed.

[2017-06-07 13:58] #497 closed

[2017-06-09 13:32] westerncj opened #664 "Editable Row - Cancel Edit on All Rows?"
If you have multiple rows in edit mode, is there anyway to cancel edit mode on all of them at once? If not, is there anything in $scope that would allow access to each form name for each row?

[2017-06-09 18:33] pequet commented on #620
hi vitaliy. any update on this port to angular2/4? thank you!
(thinking i should just use the jquery version of the plugin in my angular 4 project.)

[2017-06-11 08:10] wetternest commented on #545
thank you for your fix! i will test it as soon as possible, unfortunately i don’t have much time at the moment =(

[2017-06-15 15:11] ckosloski commented on #664
If you assign the same id to the cancel buttons for the row, you can do something like this:

[code]

[2017-06-15 15:20] ckosloski commented on #478
@sushil-rxr You can change the theme per input (i.e. default or bs2/bs3,etc), but you can't change how the template looks per input, it is a global setting.
As for adding the spinner, looking at this again, it would require some code changes to add an optional spinner.  I don't see how else to easily add this to the existing template layout.

[2017-06-15 15:20] ckosloski commented on #445
@eugef this has been answered, please close.

[2017-06-15 15:24] ckosloski commented on #434
@Pabba-Varun @semaja2 @cp15dec see if [this fiddle](https://jsfiddle.net/32kzsvve/1/) helps you

[2017-06-15 15:24] ckosloski commented on #433
@eugef question is answered, please close.

[2017-06-15 15:27] ckosloski commented on #431
@eugef question is answered, please close.

[2017-06-15 15:31] ckosloski commented on #403
@eugef question is answered, please close.

[2017-06-15 15:32] ckosloski commented on #395
@eugef question is answered, please close.

[2017-06-15 15:33] ckosloski commented on #392
@eugef question is answered, please close.

[2017-06-15 15:35] ckosloski commented on #373
@eugef question is answered, please close.

[2017-06-15 17:04] westerncj commented on #664
That works awesome! Why the timeout?

[2017-06-15 17:40] ckosloski commented on #664
It's just something I copied from something similar I was doing.  Try it with out the timeout and see if it works.
Please close this issue if your issue is resolved.

[2017-06-15 17:40] westerncj commented on #664
Ok cool. Yeah if you remove the timeout you get a digest error. Thanks for your help!

[2017-06-15 17:40] #664 closed

[2017-06-16 13:24] #445 closed

[2017-06-16 13:24] #433 closed

[2017-06-16 13:24] #395 closed

[2017-06-16 13:24] #392 closed

[2017-06-16 13:24] #431 closed

[2017-06-16 13:25] #403 closed

[2017-06-16 13:25] #373 closed

[2017-06-19 15:08] kristianharmer opened #665 "Prepopulate DateTime fields with todays date and a default time"
Hi,

Great piece of work. Overall I've had no issues implementing this on my AngularJS app. However I have stumbled upon one minor issue and that is prepopulating the datetime fields with todays date and a default time (x hours from now)!

I am using the popover implementation and have tried adding date and time in several formats and using the attributes of 'value' and 'e-value'. I'm convinced th

[2017-06-19 15:59] ckosloski commented on #665
Looking at the combodate documentation, `value` is the correct attribute to set it's initial value which is actually `e-value` on the editable-combodate component.

[2017-06-20 04:11] SebastianCBA opened #666 "Add function problem"
I have the add function:

			  $scope.add = function() {
			    $scope.inserted = {
			      sector_sheet_id: 0
			        };
			    var row = $scope.sectorSheets.unshift($scope.inserted);
			  };
When I press the add button,  the new row does not appear, however when I press on edit button the new record appears..
How to make the new record appear when I click on add button?

Thanks in advance.

[2017-06-20 12:56] ckosloski commented on #666
Can you post the code you have for your add button that doesn't work and your edit button that does.

[2017-06-20 14:16] SebastianCBA commented on #666
Hi  ckosloski! I have tested that the button works inside the view, but the add new button should go out of sight...
Within the view use this code:

<div><button class="btn btn-primary blue-500-b white" ng-click="add()">Add an entry <span class="zmdi zmdi-plus-circle-o zmdi-hc-fw"></span></button></div>

And it worked ... but out of sight use this code:

<button class="btn btn-primary blue-500-b w

[2017-06-20 14:23] ckosloski commented on #666
If you have angular debugging turned off, getting scope on the element won't work.

[2017-06-20 14:44] SebastianCBA commented on #666
Now, I need export the table to excel file, do you have some idea for that?

[2017-06-20 14:47] ckosloski commented on #666
Here is a [stackoverflow](https://stackoverflow.com/questions/21680768/export-to-xls-using-angularjs) that might help

[2017-06-23 01:20] PrasannaInamdar opened #667 "A simple text edit is not working when used in flask framework"
I am creating a simple web app in flask python, where I want my data to be editable when clicked on it. I tried using a simple inline text edit feature of angular-xeditable. but it is not working with flask. when I download and test a demo starter page it works properly. My angular code stops working when I include 'xeditable' dependency. It does not even show "Howdy!!", it shows //myname//.

This

[2017-06-23 02:10] ckosloski commented on #667
Did you verify that xeditable.js is loading?
Any errors in your javascript console?

[2017-06-23 17:04] PrasannaInamdar commented on #667
@ckosloski You are right, JS file is loaded now and it is working correctly.

[2017-06-23 17:04] #667 closed

[2017-06-27 13:47] ckosloski commented on #309
@eugef The question is answered, please close.

[2017-06-27 13:50] ckosloski commented on #306
@eugef The question is answered, please close.

[2017-06-27 13:52] ckosloski commented on #303
@eugef please close, this was fixed in #590

[2017-06-27 13:54] ckosloski commented on #287
@eugef this question is answered, please close.

[2017-06-27 13:54] ckosloski commented on #285
@eugef please close, this was fixed in #649

[2017-06-28 03:53] #309 closed

[2017-06-28 03:53] #303 closed

[2017-06-28 03:54] #306 closed

[2017-06-28 03:54] #287 closed

[2017-06-28 03:54] #285 closed

[2017-07-05 09:32] Glassig opened #668 "Cancel button does not cancel if currently editing a different field"
I have two editable textareas next to each other. If I start to edit one of them, then starts to edit the next one, the first is still open for editing (this is okay). However, when I click the cancel button for the first, it just closes the editing without resetting the field.

Also, for some reason it saves the field without running the "onbeforesave" function, because if I have errors for that

[2017-07-05 13:19] Glassig commented on #668
It should be noted that if you try to cancel when there are errors, it just saves. It does not call "onbeforesave" or anything, it just stops the editing with the value that is not allowed inside it.

[2017-07-05 13:30] ckosloski commented on #668
Can you post a jsfiddle or plunkr showing your issue?

[2017-07-05 13:37] Glassig commented on #668
I just figured out what it is. I want to count the amount of characters on the input. So I have the editable field change the value {{ctrl.value}}, and on another place {{ctrl.value.length}}. Then I use e-ng-change to set ctrl.value to the new value. I guess that is why the cancel doesn't work.
My bad. Thanks for answering so quickly anyway!

[2017-07-05 13:38] #668 closed

[2017-07-05 16:06] ckosloski commented on #253
@eugef I think it's safe to close this issue.

[2017-07-05 16:06] ckosloski commented on #245
@eugef The question is answered, please close.

[2017-07-05 16:09] ckosloski commented on #229
@eugef This question is answered, please close.

[2017-07-05 16:09] ckosloski commented on #227
@eugef This question is answered, please close.

[2017-07-05 16:16] ckosloski commented on #217
@eugef This question is answered, please close.

[2017-07-05 16:17] ckosloski commented on #208
@eugef This question is answered, please close.

[2017-07-05 16:18] ckosloski commented on #200
@eugef This question is answered, please close.

[2017-07-05 16:18] ckosloski commented on #197
@eugef This question is answered, please close.

[2017-07-05 17:54] #200 closed

[2017-07-06 12:17] guilmori opened #669 "Kendo Date Picker"
Someone made a directive for Kendo Date Picker ?

Thanks!

[2017-07-06 12:30] #253 closed

[2017-07-06 12:30] #245 closed

[2017-07-06 12:30] #229 closed

[2017-07-06 12:30] #227 closed

[2017-07-06 12:31] #217 closed

[2017-07-06 12:31] #208 closed

[2017-07-06 12:31] #197 closed

[2017-07-06 12:54] ckosloski commented on #669
Hi @guilmori, did you try any of the existing date pickers already included in the project?

[2017-07-06 13:10] guilmori commented on #669
Hi @ckosloski !
We already use kendo date picker throughout our application, so we would like to stick with the same editor.

I tried making a directive, which seems to work. Not sure how to pass in the kendo parameters though, like k-options, k-format and so on.
Is there any documentation on building custom directives ? Other than looking at source code in angular-xeditable/src/js/directives/ and

[2017-07-06 13:29] ckosloski commented on #669
There isn't any documentation on how to add a new directive.
Generally you would add a 'e-' in front of all the attributes that get passed into xeditable.
Try doing passing in `e-k-options=yourOptions` and in the directive, something like:
[code]

[2017-07-06 13:33] guilmori commented on #669
I tried sending e-k-options and it works built-in !
No need to do anything in the directive, great !.

[2017-07-06 13:48] ckosloski commented on #669
Once you get your directive working, are you going to submit a pull request to have it added here?

[2017-07-06 14:18] guilmori commented on #669
You would like this builtin in angular-xeditable ?
I'll try if I got some spare time :-)

The final code is the same as the one I pasted above though.

Note that we use the k-ng-model attributes which binds to a date object, instead of a date string with ng-model (see http://docs.telerik.com/kendo-ui/AngularJS/introduction)
Not sure if this would fit everyone needs.

[2017-07-06 14:34] ckosloski commented on #669
OK, if this is something specific to your project, no need to merge in.
Can this issue be closed then?

[2017-07-06 19:03] guilmori commented on #669
Hmm well, I got a false impression of this working

Here is a jsfiddle:
http://jsfiddle.net/a6nr6a2f/

The control displays ok but when I click on a date, it closes the editable without saving.
If a manually enter a date like "7/11/2017" in the input and click the save, it works.

I assume clicking in the calendar dropdown does trigger an outside click for the editable which close it.
Is there any

[2017-07-07 16:09] ckosloski commented on #669
You need to set `blur="ignore"` (or submit).
The editable element thinks that clicking on the kendo picker popup is blurring the element and is thus cancelling the form since the default for blur is cancel.

[2017-07-07 18:13] guilmori commented on #669
Thanks, good enough for me !

[2017-07-07 18:13] #669 closed

[2017-07-11 19:03] hk0i opened #670 "Debouncing?"
Is it possible to add debouncing via `ng-model-options`?
I'm trying to store the editable changes in localStorage so if the user refreshes the page while editing, their unsaved changes are restored to them in the same editing state as when the refresh began.

I have something that resembles this simplified example now:

[code]

I've tried with both `ng-model-options` and `e-ng-model-options` and n

[2017-07-11 19:32] hk0i commented on #670
Never mind I got this working by adding an `e-ng-change`:

[code]

I'm not sure if this is the best way, but we might want to consider adding even a localStorage feature with this type of capability built in.

[2017-07-11 19:32] #670 closed

[2017-07-18 15:57] SebastianCBA opened #671 "Add function to Popover"
I recently applied http://ryanlanciaux.com/blog/2013/10/16/fake-popovers-for-angular-xeditable/,
but I need to be able to add the function to the popup onbeforesave event to form to save the new value in the DB when the submit button (glyphicon glyphicon-ok) is pressed.

Can you help me?
Thanks in advance.

[2017-07-18 19:11] ckosloski commented on #671
That link is already applied in xeditable [here](http://vitalets.github.io/angular-xeditable/#editable-popover)
You should be able to just add `onbeforesave` to the definition of your editable element.

[2017-07-24 00:40] msiqueira9 opened #672 "update the model does not update value in editable items"
Hi all,
I have read the issue #130  that seemed to be similar to my problem but it still not working for me.
I need to insert new items in my list/models without using the editable form and that is working fine.
The new items show on the list, but when I click to edit the new item the inputs are empty as if there was no value there. If I cancel the values are there again as text.
Is there anyway t

[2017-07-24 09:07] ZivW44 opened #673 "Changing text on input does not save the changes with buttons = no"
I don't want to use buttons and I want the value to be saved.

I have made this [fiddle](http://jsfiddle.net/re342wf5/2)

Supplying buttons: 'no' and submit on blur

When I click on a button element that has ng-click, the value is not changed only after the ng-click has ended.

To replicate - try to change the value on the User.Name and click the button.

Added: If I add a $timeout(...), it will w

[2017-07-24 13:20] ckosloski commented on #673
The reason the select works is because when you select a new item in the list, that is the blur.
What are you trying to do with the button and why is timeout not an option?

[2017-07-24 13:26] ZivW44 commented on #673
The button is collecting data for later send the server, so if a user press this button, the value will still be the old value.

timeout is an option but I prefer not to use timeout if not needed.
Do you not consider this a bug? basically with button='no' I would expect that the value will be changed on change, not on blur. (the docs states on change)

[2017-07-24 13:32] ckosloski commented on #672
Can you post a jsfiddle or plunge showing your issue?

[2017-07-24 13:45] ckosloski commented on #673
The select input is setup so that it saves on change for no buttons, which works well for a select.  A text input is not setup the same way and I'm not sure it would work as well.
I think the best thing to do is use the timeout

[2017-07-25 08:59] #673 closed

[2017-07-25 14:12] Irfanbsse2060 opened #674 "show error when max reached"
i want to show error when max reached. (while editing) how is this possible
` <span editable-text="user.displayName" onbeforesave="checkName($data)" e-ng-change="checkName"  e-form="userDisplayName"  edit-disabled="{{!user.displayName}}" e-maxlength="50" e-required ng-disabled="uiSelectForm.$waiting" onaftersave="updateUserProfile(true)">{{user.displayName}}</span>
              <a ng-click="userD

[2017-07-25 15:44] ckosloski commented on #674
The only way to show errors is by using onbeforesave and have that function return an error

[2017-07-25 17:18] Irfanbsse2060 commented on #674
bt this function gets called when i click on submit button.i want to call function while editing the text field

[2017-07-26 02:34] kongbb opened #675 "edit-disabled not work with ui-select"
Hi,

I didn't find a way to disable editing.  Attach my source code.
<div editable-ui-select="windowData.selectedOption.windowDate"
             data-e-form="editableForm"
             data-e-name="selectedDate"
             theme="bootstrap"

             e-edit-disabled="true"
             data-e-edit-disabled="true"
             edit-disabled="true"
             data-e-ng-model="windowData.sele

[2017-07-26 13:53] ckosloski commented on #675
Can you post a link to a plunge or jsfiddle showing your issue?

[2017-07-26 14:16] ckosloski commented on #674
Unfortunately, that is how xeditable works.  Maybe you could have an on change function that checks the size and displays an error.

[2017-07-31 19:52] harryyuanfeng opened #676 "use xeditable in bind-html-compile"
is it possible to do this:

Html

`<span ng-bind-html="title"></span></span>`

JS

[code]

[2017-07-31 20:10] ckosloski commented on #676
Is it giving you an error when you try that?

[2017-07-31 20:15] harryyuanfeng commented on #676
it shows empty instead of the string 'harry'

[2017-07-31 20:38] harryyuanfeng commented on #676
well, I solved this by doing this:

[code]
`scope.title = '<edit-device-name text = "baseData.device.name"></edit-device-name>';`

`<span bind-html-compile="title"></span>`

[2017-07-31 20:40] SebastianCBA opened #677 "I need apply oi.select"
Hello! I need apply oi.select (http://tamtakoe.github.io/oi.select/#/select/#multiple)
to a editable-select..

Some tip for that?

Thanks in advance

[2017-07-31 21:01] ckosloski commented on #677
You would need to make a new directive similar to [ui-select](https://github.com/vitalets/angular-xeditable/blob/master/src/js/directives/uiselect.js)

[2017-07-31 21:03] ckosloski commented on #676
OK, thanks for providing your solution.  Please close this issue if the solution you provided is satisfactory.

[2017-08-01 00:25] SebastianCBA commented on #677
great! I applied:

    <div editable-ui-select="sectorSheet.stock_new_format" data-e-form="rowform"
    data-e-name="stock_new_format" name="stock_new_format" theme="bootstrap"
    data-e-ng-model="sectorSheet.stock_new_format" data-e-style="width:200px;" e-multiple >
      [[sectorSheet.stock_new_format]]
      <editable-ui-select-match placeholder="Stock">
          [[$item]]
      </editable-ui

[2017-08-01 00:35] SebastianCBA commented on #677
Solved with https://stackoverflow.com/questions/29489821/allow-manually-entered-text-in-ui-select

[2017-08-01 00:42] SebastianCBA commented on #677
Everything works fine, but I only have one problem, when uiselect is not in edit mode, the value it displays is:
["<value1>","<value2>","<newvalue>"]

and I would like it to show up like this:
value1, value2, newvalue

without losing the link with the edition, any help out there?

[2017-08-01 01:37] ckosloski commented on #677
What does the data in stockjson look like?
If you posted a plunkr or jsfiddle showing your issue, it would make it easier to troubleshoot the issue.

[2017-08-01 01:45] SebastianCBA commented on #677
I get the stock json from a laravel function:
I get the stock json from a laravel function:
    $SectorSheets = array();

        $SectorSheets = SectorSheet::where('stock_new_format', 'like', "<%")
                                    ->select('stock_new_format as result')
                                    ->get();
        $SectorSheets->each(function($SectorSheets)
                {

[2017-08-01 12:44] ckosloski commented on #677
The data you pasted has the <> symbols around the values, that would be why they are showing up in the display.

[2017-08-01 13:53] #676 closed

[2017-08-01 14:13] SebastianCBA commented on #677
I know, forget the symbols... I store the array in a field using the serialize function:

$sector->stock_new_format = serialize($request->stock_new_format);
$sector->save();

That stores the values ​​perfectly in the database:
a:3:{i:0;s:3:"one";i:1;s:3:"two";i:2;s:5:"three";}

Then, when I read the data and use the unserialize function:

        $SectorSheets->each(function($SectorSheets)

[2017-08-01 14:30] SebastianCBA commented on #677
Sorry, I solved with https://stackoverflow.com/questions/27239754/angular-print-string-array-without-quotes

thanks anyway, you are the best!

[2017-08-01 14:36] ckosloski commented on #677
Can you post what you final ui-select code looks like for others who may have this issue in the future and then please close this issue.

[2017-08-01 15:14] SebastianCBA commented on #677
yes!
view:
    <div editable-ui-select="sectorSheet.stock_new_format" data-e-form="rowform"
    data-e-name="stock_new_format" name="stock_new_format" theme="bootstrap"
    data-e-ng-model="sectorSheet.stock_new_format" data-e-style="width:200px;" e-multiple >

    <span class="list" ng-repeat="thing in sectorSheet.stock_new_format track by $index">
  		[[ thing ]]
	 </span>
      <editable-ui-sel

[2017-08-01 15:14] #677 closed

[2017-08-02 01:24] kongbb commented on #675
https://jsfiddle.net/6960k8vv/15/

[2017-08-02 12:41] ckosloski commented on #675
The edit-disabled will only work for editable elements that are a link.  It doesn't work for editable forms.
You could just add some logic to disable your edit button when the field should not be editable.

[2017-08-07 15:17] ckosloski commented on #223
I just tried the fix listed above and it did not work.  Since the default theme inputTpl is blank, nothing gets displayed.

[2017-08-07 15:21] ckosloski commented on #194
@eugef I feel like this can be closed.  The referenced image editor is no longer supported.  Not sure if this is needed in the project.

[2017-08-07 15:24] ckosloski commented on #154
@eugef This question appears answered, please close.

[2017-08-07 15:25] ckosloski commented on #153
@eugef There has been no follow up on the issue, I think this can be closed.

[2017-08-07 15:26] ckosloski commented on #144
@eugef There has been no follow up on this issue, let's close it.

[2017-08-07 15:28] ckosloski commented on #142
There is an example [here](http://jsfiddle.net/ckosloski/dkbhc9s5/13/) with a popup that has several fields.

[2017-08-07 15:33] ckosloski commented on #141
You can use the onbeforesave attribute to call a function that can display an error.  The editable-row example [shows](http://vitalets.github.io/angular-xeditable/#editable-row) how to do this.

[2017-08-07 15:33] ckosloski commented on #134
@eugef There has been no follow up, I think this can be closed.

[2017-08-07 15:35] ckosloski commented on #132
@eugef There has been no follow up on this issue, please close

[2017-08-07 15:36] ckosloski commented on #125
@eugef There has been no follow up on this issue, please close.

[2017-08-07 15:37] ckosloski commented on #124
@eugef There has been no follow up, please close.

[2017-08-07 15:37] ckosloski commented on #122
@eugef There has been no follow up, please close.

[2017-08-07 15:38] ckosloski commented on #116
@eugef There has been no follow up, please close.

[2017-08-07 15:38] ckosloski commented on #111
@eugef There has been no follow up, please close.

[2017-08-07 15:39] ckosloski commented on #99
@eugef There has been no follow up, please close.

[2017-08-07 15:45] ckosloski commented on #88
@eugef There hasn't been an recent follow up on this, please close.

[2017-08-07 15:45] ckosloski commented on #85
@eugef This has been answered, please close.

[2017-08-08 07:50] #122 closed

[2017-08-08 07:50] #124 closed

[2017-08-08 07:50] #125 closed

[2017-08-08 07:51] #132 closed

[2017-08-08 07:51] #134 closed

[2017-08-08 07:51] #144 closed

[2017-08-08 07:51] #153 closed

[2017-08-08 07:51] #154 closed

[2017-08-08 07:51] #194 closed

[2017-08-08 07:51] #116 closed

[2017-08-08 07:51] #111 closed

[2017-08-08 07:51] #88 closed

[2017-08-08 07:51] #99 closed

[2017-08-08 07:51] #85 closed

[2017-08-09 08:53] chiu0602 opened #679 "round time issue with using Combodate"
html
[code]

controller.js
[code]

The view shows:

and when the text is clicked, the minute field of combobox is set as "10" (as default minuteStep=5). After the tick (accept) is clicked, no change is shown for the view. It is expected

shoulld be shown.

[2017-08-09 13:24] ckosloski commented on #679
Hi @chiu0602, what are you expecting to happen when the minuteStep is 5?  Do you expect it to round up instead of down?

[2017-08-09 14:13] ckosloski commented on #157
@lalitkapoor I tried making your changes from the commit you posted [above](https://github.com/viewthespace/angular-xeditable/commit/6fc8488e238243ceb07eb17ae734884057ae0026), but the changes seem to break the editable form and row examples.

Is there a different commit that contains more changes?

[2017-08-09 14:29] chiu0602 commented on #679
Hi @ckosloski, minuteStep is an attribute which is working fine, when the attribute with value 5, the combobox of minute shows 0,5,10,15,...,55 for user to select; when the attribute with value 15, the combobox of minute shows 0,15,30,45 for user to select.

Whether to round up or down the value depends on scenarios, I don't have comment on it. But when
pressing the tick button, the selected value

[2017-08-09 16:30] ckosloski commented on #679
I see the issue.  The scope value only gets changed when the onchange event is called for the selects.
The value is never actually change, so nothing is propagated.

[2017-08-10 07:00] pavi95 commented on #653
@ckosloski I fixed this by using angular way of jquery :)

[2017-08-10 07:00] #653 closed

[2017-08-10 16:41] chiu0602 commented on #679
Would anyone able to help to create a test case? I don't familiar with the unit test code and don't know how to create a control with desired value for me to test. Thanks.

[2017-08-11 00:11] ckosloski commented on #679
I can help, maybe tomorrow or next week.

[2017-08-11 16:14] ckosloski commented on #660
@ikwijaya It doesn't look like you defined the method `$http` should use in your `saveGroup` function

[2017-08-11 16:31] ckosloski commented on #631
@BukicMicko did you solve your issue?

[2017-08-11 16:32] ckosloski commented on #627
@jothimoorthy Are you still having an issue?

[2017-08-11 16:32] ckosloski commented on #626
@estoysol are you still having an issue?

[2017-08-11 16:32] ckosloski commented on #620
Pull requests are welcome :)

[2017-08-11 16:33] ckosloski commented on #616
@Snippo should this issue be closed?

[2017-08-11 16:34] ckosloski commented on #614
@okezieokpara are you still having an issue?

[2017-08-11 16:34] ckosloski commented on #602
@UmeshKilkile are you still having an issue?

[2017-08-11 16:35] ckosloski commented on #597
@gerome0123 are you still having an issue?

[2017-08-11 16:35] ckosloski commented on #591
@MooDySmiles did you figure out a fix for this?

[2017-08-11 16:36] ckosloski commented on #585
@thienedits should this issue be closed?

[2017-08-11 16:36] okezieokpara commented on #614
no thanks

[2017-08-11 16:38] ckosloski commented on #614
OK, can you close this issue then?

[2017-08-11 17:29] Snippo commented on #616
I'm sorry, I did not see your previous comment. I believe the issue is still there, but the workaround I posted works fine. However, I am not using it anymore so in my opinion it can be closed.

[2017-08-11 17:41] ckosloski commented on #616
OK, can you please close the issue?

[2017-08-11 18:13] #616 closed

[2017-08-11 19:24] ckosloski commented on #578
@amodpandey did you ever figure out a solution to your problem?

[2017-08-11 19:24] ckosloski commented on #577
@IssamEssarghini033 did you ever figure out your problem?

[2017-08-11 19:25] ckosloski commented on #565
@eugenevk did you solve your problem?

[2017-08-11 19:25] ckosloski commented on #562
@andmattia did you solve your problem?

[2017-08-11 19:26] ckosloski commented on #557
@Perseverance did you solve your problem?

[2017-08-11 19:26] ckosloski commented on #546
@onceaspammer are you still having an issue?

[2017-08-11 19:27] ckosloski commented on #545
@eugef please close, this issue is fixed.

[2017-08-11 19:27] ckosloski commented on #534
@dave-yang are you still having an issue?

[2017-08-11 19:28] ckosloski commented on #528
@fatboyslimfast are you still having an issue?

[2017-08-11 19:28] ckosloski commented on #526
@jjgonver are you still having an issue?

[2017-08-11 19:29] ckosloski commented on #518
@yshinjp are you still having an issue?

[2017-08-11 19:29] ckosloski commented on #517
@kas84 are you still having an issue?

[2017-08-11 19:29] ckosloski commented on #514
@jsandeepm are you still having an issue?

[2017-08-11 19:30] ckosloski commented on #508
@momoadeli are you still having an issue?

[2017-08-11 19:31] ckosloski commented on #506
@semaja2 are you still having an issue?

[2017-08-11 19:31] ckosloski commented on #505
@codeshri are you still having an issue?

[2017-08-11 19:31] ckosloski commented on #494
@shanahanbaptista are you still having an issue?

[2017-08-11 19:31] ckosloski commented on #488
@cliffordfajardo are you still having an issue?

[2017-08-11 19:32] ckosloski commented on #480
@Arrow7000 are you still having an issue?

[2017-08-11 20:52] thienedits commented on #585
Yes my issue has been resolved not sure about original post owner though.

[2017-08-12 10:07] BukicMicko commented on #631
Hey @ckosloski yes i resolve it with onbeforesave function. Somehow I forgot to close the issue.. Sorry for that.

[2017-08-12 10:07] #631 closed

[2017-08-12 12:16] #614 closed

[2017-08-13 02:25] #606 closed

[2017-08-14 14:53] #585 closed

[2017-08-14 14:53] #545 closed

[2017-08-14 20:36] cliffordfajardo commented on #488
@ckosloski - not anymore. You can close this out

[2017-08-14 20:41] ckosloski commented on #488
@eugef can you please close this issue.

[2017-08-15 10:41] #488 closed

[2017-08-16 14:10] ckosloski commented on #432
@tibetty are you still having an issue?

[2017-08-16 14:11] ckosloski commented on #430
@harigna are you still having an issue?

[2017-08-16 14:12] ckosloski commented on #416
@fnbns can this issue be closed?

[2017-08-16 15:01] ckosloski commented on #410
@dannycsng are you still having an issue?

[2017-08-16 15:02] ckosloski commented on #404
@Kreshnik are you still having an issue?

[2017-08-16 15:04] ckosloski commented on #400
@atodicebear are you still having issues?

[2017-08-16 15:04] ckosloski commented on #393
@bmrinal are you still having issues?

[2017-08-16 15:05] ckosloski commented on #384
@debonair are you still having an issue?

[2017-08-16 15:06] ckosloski commented on #379
@popsovy are you still having an issue?

[2017-08-16 15:07] ckosloski commented on #376
@r-coursera are you still having an issue?

[2017-08-16 15:08] ckosloski commented on #371
@eugef this should be fixed with the latest release, please close.

[2017-08-16 15:09] ckosloski commented on #369
@dlwhiteman are you still having an issue?

[2017-08-16 15:10] ckosloski commented on #367
@chadpry are you still having an issue?

[2017-08-16 15:10] ckosloski commented on #360
@exp-anoop are you still having an issue?

[2017-08-16 15:12] ckosloski commented on #345
@eugef this issue has been answered, please close.

[2017-08-16 15:13] ckosloski commented on #334
@sureshamk are you still having an issue?

[2017-08-16 15:15] exp-anoop commented on #360
I think I solved this issue

[2017-08-16 15:17] ckosloski commented on #360
OK, can you please close then?

[2017-08-16 15:20] exp-anoop commented on #360
Sure

[2017-08-16 15:20] #360 closed

[2017-08-16 15:39] okonet commented on #335
I don't work on the project that uses that so I guess I'm not :)

[2017-08-16 15:41] ckosloski commented on #335
OK, can you please close then :)

[2017-08-16 15:42] okonet commented on #335
Keeping in mind the question is still open and some people might be interested in it, I'd prefer not to. But if you insist...

[2017-08-16 15:42] #335 closed

[2017-08-17 01:40] bmrinal commented on #393
@ckosloski I used some other control for the same. Didn't checked after that. Closing this issue at this time.

[2017-08-17 01:40] #393 closed

[2017-08-17 02:55] hash-bang opened #683 "Controls within regular forms"
I'm having an issue where I need to use a regular `<form/>` tag (so I can use `ngSubmit`, validation, enter key submits etc.) but would still like to use the editable controls individually.

So something like this:

[code]

[Fiddle](http://jsfiddle.net/7g5y6rzn/1/)

Is there a way of having a regular editable control inside a form element without having to enable editing for the entire form at onc

[2017-08-17 07:49] #371 closed

[2017-08-17 07:49] #345 closed

[2017-08-17 13:08] atodicebear commented on #400
@ckosloski
If i remember correctly I did a workaround with a Factory Method which just saved the Values with `e-ng-change` and after saving/cancel just delete everything to clear the Factory.

But Im not anymore a Member of this Project so for further Questions or Codesnippets I cant help anymore, sorry.

[2017-08-17 13:20] ckosloski commented on #400
@eugef I think this issue can be closed.

[2017-08-17 14:10] ckosloski commented on #683
I have not been able to get that to work either.
Are you trying to manually edit multiple fields at save at once?
Not sure what you are looking to get.
You can use `blur="submit"` on an editable to have it submit on enter.
You can do validation with `onbeforesave`

[2017-08-17 21:18] hash-bang commented on #683
I would like to have stand-alone editable controls within a form but not have the 'editable-form' functionality which makes all form items editable or not.

So clicking on the above `<a/>` should enter editable mode as if it were nested inside a regular `<div/>` instead of a `<form/>`.

[2017-08-17 21:30] ckosloski commented on #683
See if this is what you are looking [for](http://jsfiddle.net/ckosloski/rrqLj2v0/22/)

[2017-08-18 03:30] hash-bang commented on #683
Its a solution yes, but using `$form.$show()` and so on makes the entire form editable at once. I'm just after one element being editable at a time. Similar to the stand-alone editable controls (i.e. any component not already inside a form).

Basically my query is why wrapping an element inside a `<form>` acts differently to wrapping it in a `<div>`. Is it possible to have a non-editable form so t

[2017-08-18 13:50] ckosloski commented on #683
The forms are meant to be edited all at once.
I still don't understand why you need to edit items one at a time for a form.  I guess I am not understanding the use case.
The example I gave was the only thing I could find searching the issues.

[2017-08-18 15:42] #400 closed

[2017-08-20 22:22] amodpandey commented on #578
I did something similar but not exactly the same. Created a save button that works for create and update. I was happy to keep the create mode with editable links rather than form mode (but I could achieve this as well).

My solution won't work when we disable accessing scope from dom element (done in production)

    function validateFormSubmit() {
      var status = true;
      var editables = do

[2017-08-21 02:37] hash-bang commented on #683
The situation is that I have a very very large form containing lots of moving parts. I'm using a form tag because Angular provides various functionality with this - validation, submit managing etc.

Within this large form I have a table of many rows/columns that contains information. Rather than display a lot of input textboxes I thought it would be nicer to use xeditable to allow the table to dis

[2017-08-21 10:58] BukicMicko opened #684 "Words and characters not working when multiple fields from different forms are open"
When I open one editable-text-angular in some form in all other forms words and characters are not working (only for first form is working).

[code]

Strange for me is that when i check in main form findingDetailsForm when editable fields are open from two different forms inside findingDetailsForm  I have only one editableUpdateTitleForm but there should be two with different index or something, r

[2017-08-21 13:03] ckosloski commented on #684
I think you would need to have a dynamic name for the form, something like ```editableUpdateTitleForm{{$index}}```

[2017-08-21 13:11] BukicMicko commented on #684
Yeah was thinking same but it is strange for me because in every place on html when I have editableUpdateTitleForm i replace it with editableUpdateTitleForm.{{$index}} and I am getting html error  Syntax Error: Token '.3.' is an unexpected token...

[2017-08-21 14:06] BukicMicko commented on #684
Also I just saw in console log it says that editor with that name already exist. $index would help but why i get this error I am confused.

[2017-08-21 15:03] BukicMicko commented on #684
Hey @ckosloski I finally resolved $index issue. I am calling function to open form by sending index. But again i cannot get rid of error"

```textAngular Error: An Editor with name "title" already exists <div text-angular="" ta-max-text="3000" name="title" class="editable-input ng-pristine ng-untouched ng-valid ng-isolate-scope ta-root" ng-model="$parent.$data">```

Maybe I can somehow add $index

[2017-08-21 15:06] BukicMicko commented on #684
Yup I just added {{$index}} to e-name="title{{$index}}" and everything is working good now. Thanks for help!

[2017-08-21 15:06] #684 closed

[2017-08-21 22:52] joweste opened #685 "Forever loop into controller method"
I am using x-editable angularjs.

When I click to edit a form, I have seen a forever loop into the next method of the controller:

"$scope.ShowMedicamento" called into

  `   {{ ShowMedicamento(item) || 'n/a' }}`

I put a log into this method, and I can see it running forever.

After go out from edit mode, the loop stops.

The app  works well, but I can see a intensive loop in this method when ent

[2017-08-22 00:50] hash-bang commented on #683
Ah ha! Yes thats exactly what I'm after.

Is there a list of these `e-*` attributes somewhere? I realise they effect the downstream style and arn't really 'core' but I can't seem to find them anywhere in the documentation.

[2017-08-22 00:50] #683 closed

[2017-08-22 01:31] ckosloski commented on #683
Everything "should" be in the documentation, unfortunately `e-single` is not.  I will try to add something in the future.

[2017-08-22 01:34] ckosloski commented on #685
I think it is because Angular is putting a watch on the function.
You could try `{{ ::ShowMedicamento(item) || 'n/a' }}` and see what that does.
Also you are doing two null checks with that function, why not just do `{{item.medicamento || 'N/A'}}`

[2017-08-22 01:35] hash-bang commented on #683
Much appreciated. Thanks for all your help.

[2017-08-22 12:35] joweste commented on #685
Yes, I already did it and put your tip. About the watch in the function, Is angular putting a watch in the function or x-editable  is doing it?

[2017-08-22 12:53] ckosloski commented on #685
Angular is doing it because of the two way binding.

[2017-08-23 10:35] MooDySmiles commented on #591
@ckosloski we hacked that by placing a span (with ngIf) when we want xeditable to be disabled.
We have been moved onto a new whole project, so I don't think we will be able to do any progress on this, sorry :disappointed:

[2017-08-23 15:22] ckosloski commented on #591
@MooDySmiles  Do you want to close this issue then?

[2017-08-23 15:24] MooDySmiles commented on #591
If it's okay for you, it's okay for me.

[2017-08-23 15:24] #591 closed

[2017-08-25 21:19] ckosloski commented on #318
@JetFault are you still having an issue?

[2017-08-25 21:20] ckosloski commented on #313
@scripterkaran are you still having an issue?

[2017-08-25 21:23] ckosloski commented on #304
@aszharite is this still an issue?

[2017-08-25 21:24] ckosloski commented on #301
@vjkumarsw is this still an issue?

[2017-08-25 21:25] ckosloski commented on #299
@pcapozzi is this still an issue?

[2017-08-25 21:25] ckosloski commented on #279
@davidsielert is this still an issue?

[2017-08-25 21:26] ckosloski commented on #274
@AndrewIsh is this still an issue?

[2017-08-25 21:27] ckosloski commented on #271
@eugef The question is answered, please close.

[2017-08-25 21:27] ckosloski commented on #259
@eugef this issue is fixed, please close.

[2017-08-25 21:28] ckosloski commented on #257
@avandendaele is this still an issue?

[2017-08-25 21:29] ckosloski commented on #246
@ImranAppdev is this still an issue?

[2017-08-25 21:30] ckosloski commented on #244
@alzorz is this still an issue?

[2017-08-25 22:10] ckosloski commented on #230
Try using the `e-single` attribute.

[2017-08-26 03:28] xak2000 commented on #271
Is there a case where you **don't want to cancel the model update on an error**?
I think, the answer is almost always - you want.
So, you almost always can't use `onaftersave` then?

I don't think the answer "don't use `onaftersave`, use `onbeforesave` instead" is correct answer.
Any server respond with error sooner or later.

Ideally, the directive should restore model state when user presses <kb

[2017-08-26 03:28] #271 closed

[2017-08-26 12:17] amodpandey commented on #578
sure.

[2017-08-26 16:36] ckosloski commented on #578
@eugef can you close this issue?

[2017-08-28 08:13] #259 closed

[2017-08-28 08:13] #578 closed

[2017-08-28 19:06] ckosloski commented on #205
@navinSing is this still an issue?

[2017-08-28 19:07] ckosloski commented on #202
@eugef this question is answered, please close.

[2017-08-28 19:07] ckosloski commented on #196
@eugef this question is answered, please close.

[2017-08-28 19:07] ckosloski commented on #193
@sprguillen is this still an issue?

[2017-08-28 19:08] ckosloski commented on #188
@cccastle is this still an issue?

[2017-08-28 19:08] ckosloski commented on #170
@fabiomello is this still an issue?

[2017-08-28 19:18] fabiomello commented on #170
resolved

[2017-08-28 19:18] #170 closed

[2017-08-28 20:43] ckosloski commented on #90
@lanceschi is this still an issue?

[2017-08-28 20:44] ckosloski commented on #77
@eugef this question has been answered, please close.

[2017-08-28 20:58] ckosloski commented on #679
@eugef this can be closed, it was fixed by #682

[2017-08-30 07:48] #202 closed

[2017-08-30 07:48] #196 closed

[2017-08-30 07:48] #77 closed

[2017-08-30 07:48] #679 closed

[2017-08-30 08:38] AndrewIsh commented on #274
Apologies for the delay in replying. The fix that @zhendong590 suggests obviously works, I guess it's now more a question of whether reverting to an empty string rather than `null` is desirable behaviour for angular-xeditable to be doing? My personal feeling is that reverting to `null` would be proper behaviour.

[2017-08-30 18:59] nnickd opened #686 "Checkbox as FontAwesome icons instead of input?"
Is there an easy way to go about using icons that change state based on the model as opposed to using the input element?

[2017-08-30 19:10] ckosloski commented on #686
Isn't it just a matter of css?

See if this link [helps](https://codepen.io/jamesbarnett/pen/yILjk).

[2017-08-30 20:15] nnickd commented on #686
This helps, thanks!

[2017-08-30 20:15] #686 closed

[2017-09-04 09:08] Malathikarkera opened #687 "On Xeditable save console error appearing assign is not a function"
![capture](https://user-images.githubusercontent.com/31616236/30019584-bc5d57ae-917e-11e7-9548-3c9a9225e420.PNG)
Please some one help me regarding this issue

[2017-09-04 12:01] Malathikarkera commented on #687
I just commented this line on xeditable.js file then the above error cleared and functionality is working fine . Is this solution a good practice and feasible ?

self.save = function() {
     // valueGetter.assign($scope.$parent,
       //   self.useCopy ? angular.copy(self.scope.$data) : self.scope.$data);

      // no need to call handleEmpty here as we are watching change of model value
      /

[2017-09-04 14:16] ckosloski commented on #687
Can you provide the xeditable-checkbox and xeditable-select code that is throwing this error?

[2017-09-05 04:16] Malathikarkera commented on #687
<td field-name="ProcessorRegionNames" width="10%">
                         <span editable-checklist="gridItem.ProcessorRegionIDs | customStringtoArray"
                               ng-model="gridItem.ProcessorRegionIDs"
                               e-name="ProcessorRegionIDs"
                               e-form="rowform"
                               e-required

[2017-09-05 13:11] ckosloski commented on #687
Can you remove the filter from your editable-checklist and see if the error stops being thrown?
Filters aren't supported.  Please see #409

[2017-09-12 12:48] kushal555 opened #689 "Having issue in e-formclass with textarea"
I am facing an issue in dynamically adding the class name to form. While I am using the `e-formclass` attribute with `input type='text'` its working fine but whenever I used it with text box its giving error.

[Textarea](http://jsfiddle.net/bsbs9zp8/1/)
[Textbox](http://jsfiddle.net/NfPcH/20107/)

[2017-09-12 21:19] ckosloski commented on #689
I think I see the issue, I need a few days to get around to doing the fix.

[2017-09-18 14:13] ckosloski commented on #129
Maybe the comments in #521 will help

[2017-09-19 17:50] rolivares opened #691 "Access to editting item data"
Can I access to the current item data in order to use it to disable or populate items on table row editting?

[2017-09-20 08:47] #689 closed

[2017-09-20 13:31] ckosloski commented on #691
Take a look at this [jsfiddle]( https://jsfiddle.net/32kzsvve/1/) and see if it helps you.

[2017-09-20 14:33] rolivares commented on #691
just like that!, thanks

[2017-09-20 14:33] #691 closed

[2017-09-21 04:00] dannycsng commented on #410
Sorry for late response. I believe this issue resolved. thanks.

On Wed, Aug 16, 2017 at 10:01 AM, ckosloski <notifications@github.com>
wrote:

[2017-09-21 13:24] ckosloski commented on #410
@dannycsng can you go ahead and close the issue please

[2017-09-22 02:50] dannycsng commented on #410
Sorry, this has been awhile and I loss the link to the blog.

On Thu, Sep 21, 2017 at 8:24 AM, ckosloski <notifications@github.com> wrote:

[2017-09-22 13:32] ckosloski commented on #410
@eugef can you go ahead and close this issue?

[2017-09-22 13:58] #410 closed

[2017-09-22 15:54] avandendaele commented on #257
@ckosloski I left Angular for React more than a year ago. Finally I left web development.
Therefore I don't know. Sorry

[2017-09-22 16:23] ckosloski commented on #257
@eugef can you please close this issue.

[2017-09-25 07:53] #257 closed

[2017-09-27 08:53] piotr-dobrogost opened #692 "Live templates (for jsFiddle and Plunkr) do not work"
Live templates for [jsFiddle](http://jsfiddle.net/NfPcH/3) and [Plunkr](http://plnkr.co/edit/BjWwXIlYyyLvRnVwO8m8?p=preview) given at https://github.com/vitalets/angular-xeditable/blob/master/CONTRIBUTING.md do not work; `{{ showStatus() }}` string is literally being rendered for example.

[2017-10-01 20:05] pdemilly opened #694 "regression: radiolist whose value is not a number (integer or string) fails now"
If you have a radiolist whose value is a string that is not a number then it fails: Works fine with other elements like select. See fiddle below.

[fiddle link](http://jsfiddle.net/pdemilly/tnatfyvf/19/#&togetherjs=aDzVClxa7l)

[2017-10-02 15:07] ckosloski commented on #694
How about if a new option was added, something like `e-StringList=true`.  If this is true, then `ng-value` is used, if false `value` will be used.
Default to `value`.

[2017-10-02 18:18] pdemilly commented on #694
radiolist should accept number or string as value. Just looking at the code quickly it looks like:

parsed.locals.valueFn should be tested is it needs surrounded quotes, something like that:

var ngValue = isNaN(parsed.locals.valueFn) ? '\"'+parsed.locals.valueFn+'\"' : parsed.locals.valueFn;
but then again this code is confusing. too many +  why  not interpolate the whole string

  `        var h

[2017-10-02 18:42] ckosloski commented on #694
I don't think the `isNaN` test will work.  I tried that it always returns true even when the list is numbers.
Also, if the list is strings, it needs to be `value=` while anything non-string should be `ng-value=`

https://docs.angularjs.org/api/ng/input/input%5Bradio%5D

[2017-10-03 17:25] pdemilly commented on #694
The problem is not about using value or ng-value the problem is that you build a string which is going to be interpolated and the valueFn is not surrounded by quotes so it can only take real numbers or strings representing numbers. Anything else will generate an interpolation error as it should.

[2017-10-06 16:47] maxxrdrgz commented on #101
Is there any way to set maxlength not using angular? I'm the BS3 build.

[2017-10-06 16:56] ckosloski commented on #694
If your proposed fix works for you, can you please open a pull request?

[2017-10-06 17:22] maxxrdrgz commented on #101
Figured it out, you can use the tpl option of a textarea to change the html template like so:

`
$('.class').editable({
    type:'textarea',
    tpl: '<textarea maxlength="5"></textarea>'
});
`

[2017-10-06 17:40] ckosloski commented on #101
Thanks for sharing your code

[2017-10-09 13:56] gaurav1264 opened #695 "Update example in document to use the strict angular DI"
I referred the http://vitalets.github.io/angular-xeditable/#bootstrap3 to change the theme, where i have used example given in the docs.

But as per angular, we must use function which takes **_array-fied_** type of paramaters in it. Refer: https://docs.angularjs.org/error/$injector/unpr?p0=aProvider%20%3C-%20a

And https://stackoverflow.com/questions/21688681/unknown-provider-aprovider-a-how-do-i

[2017-10-09 15:29] ckosloski commented on #694
HI @pdemilly I tried using your code above, but I could not get it to work.
Here is what I did:

[code]
```var html = $interpolate (htmlString)(local);```

I had to comment out `$data` because it could not find `$parent` during interpolation.

This code produces this html:
[code]
Which doesn't work.  Any suggestions?

[2017-10-09 16:10] pdemilly commented on #694
My code was mostly pseudo code.  On my end I didn't modify desirable since
I'm using wrappers using angular components    if I find some time I'll do
a PR

On Oct 9, 2017 8:29 AM, "ckosloski" <notifications@github.com> wrote:

[2017-10-09 16:59] ckosloski commented on #694
Thanks @pdemilly

[2017-10-13 16:41] piotr-dobrogost opened #696 "No way to access edit fields (editables) by name"
I was looking for a method to access specific editable fields of a form by name but it seems there's no such a method.
Basically the implementation would be very similar to `$activate` (https://github.com/vitalets/angular-xeditable/blob/0.8.0/src/js/editable-form/controller.js#L173-L182).

[2017-10-13 18:16] ckosloski commented on #696
Can you add some more specific on what you are trying to achieve?

[2017-10-16 08:35] bravility opened #698 "why $cancel() will add a new row"
why $cancel() will add a new row,how to cancel it?
![why cancel will add a new row](https://user-images.githubusercontent.com/6559992/31602515-ed4be128-b28f-11e7-9246-a0a847d1bc00.png)

[2017-10-16 11:06] johnzakariasabry opened #699 "editable-select and $watchCollection bug"
hi dears
i made editable-select to call a directive function but it does not work for me

i am using credit card validation in https://gist.github.com/lrvick/8789669 but i want to make it by editable-select   but the function is not called at all..

when i made it with normal function it gives alerts when i tried to alert anything but in using watch collection is does not work

`        <span edit

[2017-10-16 11:31] #695 closed

[2017-10-16 13:09] piotr-dobrogost commented on #696
In my case some fields should only be editable when adding new entry and not when editing existing one. That is why upon entering edit mode I hide edit fields which are not meant to be used when editing already existing entries.

[2017-10-16 13:31] ckosloski commented on #699
So you select an item in editable-select and upon save you are expecting the `cardExpiration` directive watch to have done something?

[2017-10-16 13:37] ckosloski commented on #696
Yes, one way to do that is do the `ng-if` based upon the unique key of the row.  If no id exists, don't show fields, if id exists, show fields.

[2017-10-16 13:43] ckosloski commented on #698
You have to remove the item that was added to the array when you click `add row`.
There is an example in [editable-table](http://vitalets.github.io/angular-xeditable/#editable-table)

[2017-10-16 16:33] johnzakariasabry commented on #699
the problem is ctrl value

i have 2 pull donwn menu one for year and other for month.. when i change value of month it only set validity for months and when i change the year it set validity for only year

so how to set validity for ctrl that is not clicked notice that i know its name , id and model id

[2017-10-16 17:23] ckosloski commented on #699
Why can't you call an function in either`onBeforeSave` or `onAfterSave` that will display an error message based upon the value that update and the other input?

[2017-10-16 20:35] piotr-dobrogost commented on #696
Ok, in this case I'm going to change approach. Still I guess there should be easy way to access edit fields by name in more advanced scenarios. Closing for now. I guess if more people want this then this issue could be reopened later.

[2017-10-16 20:38] ckosloski commented on #696
If you decide to investigate you original issue some more and find a solution, please create a pull request.

[2017-10-17 06:39] johnzakariasabry commented on #699
i dont know how to call directive in on before save or i will make it into controller?

[2017-10-17 13:05] ckosloski commented on #699
Documentation for `onbeforesave` and`onaftersave` are [here](http://vitalets.github.io/angular-xeditable/#onbeforesave).

Just add `e-ng-change` and have it call a function.

[2017-10-19 14:36] vmandrychenko opened #700 "Syntax error not tolerated by Node/Phantomjs/Karma"
Hello,

We ran into issue with the syntax while trying to run karma/jasmine/angularjs directive unit test that is testing a directive containing a snippet that is using angular-exeditable plugin.

The error we got was:
"Syntax error, unrecognized expression: form[name='foobar'"

The fix for us was simple, it's adding another set of quotes on line 1322 in xeditable.js

Error line:
[code]

Fixed lin

[2017-10-23 08:11] samaksh-vokal commented on #365
Just add `e-add-from-autocomplete-only="true"` to the outer `<span>` like so:

[code]

[2017-10-23 13:42] ckosloski commented on #700
I will try to take a look at it this week.

[2017-10-24 17:04] logan-jobzmall opened #701 "Two way data binding on e-attribute"
Hello,

When using an e-attribute (directive), I have a two way data binded value:

`<span editable-text="vm.store.color" e-background-color="{{vm.color}}" e-ng-change="vm.changeColor($data)" e-colorpicker="hex" e-colorpicker-with-input="true" e-name="founded">{{ vm.store.color }}</span>`

The `vm.changeColor()` will set `vm.color` to whatever has changed on the colorpicker. I have a e-background-

[2017-10-24 23:53] ckosloski commented on #692
@eugef this was fixed by #693, please close.

[2017-10-25 06:30] piotr-dobrogost commented on #692
Thanks!

[2017-10-25 06:30] #692 closed

[2017-10-25 08:46] #700 closed

[2017-10-25 20:49] ckosloski commented on #701
I think the issue here is that you are using `vm.color` which isn't updated until you submit.  If you are trying to change the color while the editable is open, try using `$data` instead.

[2017-11-13 17:41] ckosloski commented on #698
@bravility can this be closed now?

[2017-11-13 17:45] ckosloski commented on #645
@eugef this issue can be closed

[2017-11-13 17:50] ckosloski commented on #602
@eugef This can be closed due to lack of response

[2017-11-13 17:53] ckosloski commented on #562
@eugef Please close due to lack of response.

[2017-11-13 17:59] ckosloski commented on #557
@eugef Please close due to lack of response

[2017-11-13 17:59] ckosloski commented on #546
@eugef Please close due to lack of response

[2017-11-13 18:00] ckosloski commented on #535
@artforlife can this be closed?

[2017-11-13 18:01] ckosloski commented on #534
@eugef Please close due to lack of response

[2017-11-13 18:01] ckosloski commented on #528
@eugef Please close due to lack of response.

[2017-11-13 18:01] ckosloski commented on #518
@eugef Please close due to lack of response

[2017-11-13 18:02] ckosloski commented on #517
@eugef Please close due to lack of response

[2017-11-13 18:03] ckosloski commented on #508
@eugef Please close due to lack of response

[2017-11-13 18:03] ckosloski commented on #506
@eugef Please close due to lack of response.

[2017-11-13 18:03] ckosloski commented on #505
@eugef Please close due to lack of response.

[2017-11-13 18:04] ckosloski commented on #494
@eugef Please close due to lack of response.

[2017-11-13 18:05] ckosloski commented on #462
@eugef Please close due to lack of response.

[2017-11-13 18:25] codeshri commented on #505
Issue is fixed

[2017-11-13 18:25] #505 closed

[2017-11-13 19:15] ckosloski commented on #432
@eugef Please close due to lack of response.

[2017-11-13 19:15] ckosloski commented on #430
@eugef Please close due to lack of response.

[2017-11-13 19:15] ckosloski commented on #412
@eugef Please close due to lack of response.

[2017-11-13 19:16] ckosloski commented on #384
@eugef Please close due to lack of response.

[2017-11-13 19:16] ckosloski commented on #379
@eugef Please close due to lack of response.

[2017-11-13 19:16] ckosloski commented on #376
@eugef Please close due to lack of response.

[2017-11-13 19:17] ckosloski commented on #367
@eugef Please close due to lack of response.

[2017-11-13 19:17] ckosloski commented on #349
@eugef Please close due to lack of response.

[2017-11-13 19:17] ckosloski commented on #334
@eugef Please close due to lack of response.

[2017-11-13 19:18] ckosloski commented on #331
@eugef Please close due to lack of response.

[2017-11-14 03:16] bravility commented on #698
@ckosloski To some extent, yes. But I would rather [Editable row](http://vitalets.github.io/angular-xeditable/#editable-row) use than [Editable table](http://vitalets.github.io/angular-xeditable/#editable-table), can I fix it in Editable row? instead of use Editable table

[2017-11-14 09:42] #331 closed

[2017-11-14 09:43] #334 closed

[2017-11-14 09:43] #349 closed

[2017-11-14 09:43] #367 closed

[2017-11-14 09:43] #376 closed

[2017-11-14 09:43] #379 closed

[2017-11-14 09:43] #384 closed

[2017-11-14 09:43] #412 closed

[2017-11-14 09:43] #430 closed

[2017-11-14 09:43] #432 closed

[2017-11-14 09:44] #462 closed

[2017-11-14 09:44] #494 closed

[2017-11-14 09:44] #506 closed

[2017-11-14 09:44] #508 closed

[2017-11-14 09:44] #517 closed

[2017-11-14 09:44] #518 closed

[2017-11-14 09:44] #528 closed

[2017-11-14 09:44] #534 closed

[2017-11-14 09:44] #546 closed

[2017-11-14 09:44] #557 closed

[2017-11-14 09:44] #562 closed

[2017-11-14 09:45] #602 closed

[2017-11-14 09:45] #645 closed

[2017-11-14 14:10] ckosloski commented on #698
All you need to do is call a function on cancel that removes the last item in your list
`$scope.movieCharacterModel.characters.splice(index, 1);`

[2017-11-15 10:39] santilin opened #704 "Typeahead functinality not found"
I'm trying to implement typeahead over an xeditable input control following [the docs](https://vitalets.github.io/angular-xeditable/#typeahead), but I can't. It looks like the properties for the typeahead plugin are not present.

However, searching the code in the path angular-xeditable, I only find a few references to the word typeahead:

[code]

I have installed xeditable via npm like this:
[cod

[2017-11-15 13:33] ckosloski commented on #704
Did you include angular-ui-bootstrap as specified by the documentation?

[2017-11-16 21:40] logan-jobzmall commented on #701
$data does get not populated unfortunately. I believe I saw another ticket around that...

[2017-11-17 15:09] ckosloski commented on #701
Can you provide a plunkr or jsfiddle?

[2017-11-18 03:40] josemonsalve2 opened #705 "editable-combodate multiple problems."
I am having some troubles with editable-combodate when used with different formats.

Please refer to this [fiddle](https://jsfiddle.net/josemonsalve2/1yjatoxo).

First if you only have Year (YYYY) format, the displayed value gets reduced by one after submission, even though the angular model is updated correctly. If I add months this behavior is not like that anymore. (See problem 1 and problem 2

[2017-11-18 03:53] josemonsalve2 commented on #705
I am not that familiarized with your code, but would this work?

[code]

[2017-11-18 03:59] josemonsalve2 opened #706 "Regression issue with combodate"
When trying to use combodate with version 0.8.1 there is an error with the new addition of .change.

Error:
[code]

The problem is in the .change() addition to xeditable.js after line 432 (or nearby)

[2017-11-18 04:01] josemonsalve2 commented on #706
JsFiddle here

https://jsfiddle.net/josemonsalve2/u03z4kw2/

[2017-11-18 05:34] josemonsalve2 commented on #705
I just realized that the problem with YYYY - 1 is with the | date: filter

[2017-11-18 22:05] ckosloski commented on #706
I don't see that error at the JSFiddle link above.  I tested in the most recent FF and all the editable links did not throw that error.
Is there a specific browser this error is occurring in?

[2017-11-18 22:20] ckosloski commented on #705
It appears your change would work.
Did you want to try and create a PR?  If so, add test cases to dev-combodate folder for all your tests cases in the fiddle.

[2017-11-18 22:47] josemonsalve2 commented on #706
Sorry I forgot to stage my changes in the jsFiddle as base. Now it should be updated with the issue

[2017-11-18 22:48] josemonsalve2 commented on #705
I will do this by the end of next week, I can't right now. I am trying to finish a project.

[2017-11-19 00:57] ckosloski commented on #706
I think your fix from #705 solves the problem.

[2017-11-20 08:44] santilin commented on #704
I didn't, but I have done now and still I can't find any references to e-uib-typeahead. Is it possible that the 'e-' prefix is added by the xeditable extension?

[2017-11-20 14:53] ckosloski commented on #704
Can you post your code you are having an issue with or make a plunkr/jsfiddle so that I can better understand what your issue is?

To run typeahead, you have to include angular-ui-bootstrap and any properties of the bootstrap typeahead should be prefaced with `e-`.

[2017-11-27 03:05] joweste opened #707 "Nested Form Solution"
I have read many posts related to nested forms, ng-form ...
I use xeditable with angularjs and it´s splendid. This is an excellent work.

My problem is when I have nested forms in my view I get an error as:

`Form with editable elements should have `editable-form` attribute. <span editable-text="row.NOME" e-name="NOME" e-form="mainForm.tableform" class="ng-scope ng-binding editable">`

I don´t fin

[2017-11-27 13:03] joweste opened #708 "Zindex uib-datepicker problem with modal"
Hi,

I have x-editable from with uib-bootstrap datepicker.
My problem is when I click the button to open o dropdown datepicker it remains behind the modal form. It´s a z-index problem.

Is there some settings to avoid ait?

[code]

[2017-11-27 16:16] ckosloski commented on #708
Did you look at #157?  There is a link to a branch there (although it broke the existing tests), but maybe it's something that works for you.

[2017-11-27 16:18] ckosloski commented on #707
Did you take a look at #157?  There is a branch with a proposed fix there (although it broke existing tests, but I never testing it with nested forms).  Maybe that fix solves your problem.

[2017-11-27 16:51] ckosloski commented on #708
Maybe this [link](https://github.com/angular-ui/bootstrap/issues/2373) will help you.

[2017-12-11 20:36] ckosloski commented on #223
@eugef please close due to lack of response

[2017-12-11 20:37] ckosloski commented on #214
@eugef please close due to lack of response

[2017-12-11 20:37] ckosloski commented on #209
@eugef please close due to lack of response

[2017-12-11 20:37] ckosloski commented on #205
@eugef please close due to lack of response

[2017-12-11 20:38] ckosloski commented on #193
@eugef please close due to lack of response

[2017-12-11 20:38] ckosloski commented on #191
@eugef please close due to lack of response

[2017-12-11 20:39] ckosloski commented on #155
Pull requests are welcome :)

[2017-12-11 20:41] ckosloski commented on #90
@eugef please close due to lack of response

[2017-12-11 20:42] ckosloski commented on #705
@josemonsalve2 would you like me to help you with a PR?  I believe I have your change working locally for me.

[2017-12-11 20:46] josemonsalve2 commented on #705
I would highly appreciate that. I have had no time to do that.

[2017-12-12 09:14] #223 closed

[2017-12-12 09:14] #214 closed

[2017-12-12 09:15] #209 closed

[2017-12-12 09:15] #205 closed

[2017-12-12 09:15] #193 closed

[2017-12-12 09:15] #191 closed

[2017-12-12 09:15] #90 closed

[2017-12-14 16:28] jmliz opened #710 "Ui-select on select event"
Is there a way to use ui-select's `on-select` [event name](https://github.com/angular-ui/ui-select/wiki/ui-select#events) attribute whenever the user changes options?

Like:

[code]

[2017-12-15 12:31] fborges42 opened #711 "popover for bsdate"
Hey, I'm trying to open bsdate on a popover but the buttons go off the popover. I have the same popover for text and it works just fine. Any clue if this is a bug or am I missing something here?

**working:**
![image](https://user-images.githubusercontent.com/10809728/34042132-1820042e-e193-11e7-8b2b-eded9aa67bc6.png)

**not working:**
![image](https://user-images.githubusercontent.com/10809728/34

[2017-12-15 16:06] ckosloski commented on #710
Yes, adding `e-on-select` should work.
If it's not working for you, can you provide a jsfiddle/plunkr showing your issue?

[2017-12-15 17:04] yeeland opened #712 "Dynamic blur values"
We recently ran into a feature request where users would like editable inputs to cancel on blur if nothing has been entered but ignore if the input has text.  We attempted to set the `blur` attribute to something dynamic but it looks like the form only checks for the blur value in the compile step [here](https://github.com/vitalets/angular-xeditable/blob/cf7336de315e8c10c35dfe2de56c54a944f569da/sr

[2017-12-15 17:47] ckosloski commented on #712
Can you explain more what it is you are trying to achieve?
Are you trying to prevent save calls to the back end by cancelling if nothing has submitted?

[2017-12-15 19:38] yeeland commented on #712
@ckosloski originally, we had textareas that would cancel whenever you blurred but users would type long content in those textareas, click outside of the form, and lose all that they had typed in the input. However, they do like the convenience of being able to click outside of the form if they haven't typed anything instead of having to find and click the cancel button.

[2017-12-15 20:53] ckosloski commented on #712
Why not just set the blur to submit?

[2017-12-15 21:36] yeeland commented on #712
@ckosloski To answer your second question in the original comment, we are looking to avoid a backend call unless the user has hit the save button.

[2017-12-15 21:42] ckosloski commented on #712
Why can't you check the existence of data before submitting to backend?
Or maybe add a [onbeforesave](http://vitalets.github.io/angular-xeditable/#onbeforesave) call that returns false if no data was entered (and doesn't call the backend)

[2017-12-16 14:22] jmliz commented on #710
nvm, it works. thanks.

[2017-12-16 14:22] #710 closed

[2017-12-17 23:55] Irikos commented on #526
Struggled a bit with this problem as well. It turns out, as mentioned earlier, that you need to conver the data to JS Date.

          campaign.dateStart = new Date(campaign.dateStart);

did it for me.

[2017-12-18 09:27] #705 closed

[2017-12-18 14:18] ckosloski commented on #526
@eugef This issue is answered and can be closed.

[2017-12-18 21:26] ckosloski commented on #711
Based on the demo site, the issue is the following css coming from forms.less:
[code]
If you change it to `width:auto`, that appears to fix the issue.
You should probably either create a new style class for this or pass in `e-style="width:auto"` to your editable-bsdate.

[2017-12-19 08:51] #526 closed

[2017-12-19 10:22] fborges42 commented on #711
Thanks for the input @ckosloski this worked!

[2017-12-19 14:28] ckosloski commented on #711
@fborges42 glad I could help.  If this solves your issue, please close it.

[2017-12-19 16:52] #711 closed

[2018-01-02 16:17] dementic opened #713 "e-inputgroup two way binding"
It seems that the inputgroups are static and will not update when binding to a value:
`                                            <a editable-number="someScopeValue"
                                                    e-inputgroupleft="{{ someFunctionToCalcNewValue($data) }}">
                                                    {{ someScopeValue }}

[2018-01-02 17:05] ckosloski commented on #713
Hi @dementic can you describe your error some more, or provide a plnkr or jsfiddle showing your issue?
If I create a function that generates a random number, I see a new number in my input group every time I open it.

[2018-01-03 10:09] dementic commented on #713
Here you go:
https://jsfiddle.net/s4qva61w/5/

[2018-01-03 12:06] dementic commented on #713
Here is a fiddle, let me know if i got something wrong:
https://jsfiddle.net/s4qva61w/8/

[2018-01-12 00:37] logan-jobzmall opened #714 "Side by Side forms in Safari 11 won't let go of focus"
http://jsfiddle.net/zjtoy868/8/

See my JSFiddle. The behavior is slightly different than what I am seeing on my app (literally I can see the focus going between the first field of each form and I can't remove focus even using `form.blur();` or `input.blur();`. Although the behavior isn't exactly the same you should be able to see that on Safari 11 it is almost impossible to get to another input u

[2018-01-12 00:57] ckosloski commented on #714
Try setting `editableOptions.activate = 'none';`
It appears that the two forms are competing for the focus since the default `activate` is `focus`
http://vitalets.github.io/angular-xeditable/#ref-options

[2018-01-12 01:45] logan-jobzmall commented on #714
Testing now.... Thanks!

[2018-01-12 02:36] logan-jobzmall commented on #714
Worked! Thank you

[2018-01-12 02:36] #714 closed

[2018-01-19 03:33] Scheinin commented on #232
@Toilal  I use that in md-data-table, but can not cover the original data.Do you encounter this situation?
![image](https://user-images.githubusercontent.com/26054233/35133628-39d1765e-fd0c-11e7-9a1a-fe30cec88c0f.png)

[2018-01-27 14:12] ikwijaya commented on #232
error : <md-input-container> can only have *one* <input>, <textarea> or <md-select> child element!
when using editable-radiolist.

[2018-01-30 07:57] KetanJain6333 opened #717 "two way binding"
two binding is not supporting in editable-text="", value is binding only after clicking submit button but it should be two way binded as it happen in angularjs.

[2018-01-30 23:53] ckosloski commented on #717
That is a "feature" of angular-xeditable.  That is how it was designed.
What problem are you trying to solve that would require two-way binding?
I will be happy to review any PR's submitted.

[2018-01-31 08:33] KetanJain6333 commented on #717
when i am adding more fields then two way binding is not working.
i am printing the arrrayObject(
console.log("2wayBinding",$scope.activeModules['settings/customer-profile/get-customer-details'].profileData.contact)
) after clicking the add more field.

Please go through the code
code:
HTML Code-->

<form editable-form name="editableForm" onaftersave="updateCompanyName()">
               <span cla

[2018-01-31 13:06] IainmXray opened #718 "How to make the popup display below the target control"
Great component.  When using it near the edge of a display area (e.g. on a popup window) having it popup above the target control causes it to be hidden.  Is there any way we can control the popup direction relative to the target control as you can with the bootstrap Tooltip (https://getbootstrap.com/docs/3.3/javascript/#tooltips-examples) ?

Thanks

[2018-01-31 13:39] ckosloski commented on #718
Did you try adding `popover-placement="bottom"` ?

[2018-01-31 13:50] ckosloski commented on #717
Can you add a plnkr or jsfiddle showing your issue?
I don't quite understand what your issue is.
On add, you are logging something and the logging isn't working?
Or is the display of the new row not happening on add?

One observation, I think you need to actually add an object on the push, something like:
[code]

[2018-01-31 17:16] KetanJain6333 commented on #717
when i type into input box then it should get bind like it does in ng-model angularjs which is called two binding but in editable-text case it didn't get binded.

 https://www.w3schools.com/angular/tryit.asp?filename=try_ng_model_two-way ----->want this feature in editable-text="" <https://www.w3schools.com/angular/tryit.asp?filename=try_ng_model_two-way>
Tryit Editor v3.5 - W3Schools<https://www.

[2018-02-01 14:36] ckosloski commented on #717
I'm sorry, but angular-xeditable is not setup that way.
I can try and help you find a solution to your specific problem if you describe it more or provide a plunkr/jsfiddle.

[2018-02-01 16:01] IainmXray commented on #718
Thanks for the reply.  Yes I have tried that.  Example usage:

    <a href="" popover-placement="bottom" editable-text="editCtrl.sourceValue"
       class="editable editable-click" onbeforesave="editCtrl.IsValueValid($data)"
       onaftersave="editCtrl.OnAfterSave()">{{ editCtrl.sourceValue || "empty" }}</a>

The tag has no effect.

[2018-02-02 12:13] Fossil01 opened #719 "onbeforesave still updates scope/view when HTTP request fails"
[code]

[code]

Am I doing something wrong here? Dev Console shows the HTTP request failing and the console.log triggering but the item.username is still updated in view

[2018-02-02 13:18] ckosloski commented on #719
You have to return a string value, not a boolean.
[http://vitalets.github.io/angular-xeditable/#validate-remote](http://vitalets.github.io/angular-xeditable/#validate-remote)

[2018-02-02 13:40] Fossil01 commented on #719
I've looked at that example but don't fully understand. How would I fix my sample code to make that work?

[2018-02-02 14:17] ckosloski commented on #719
Try return `"Something went wrong"` instead of false.

[2018-02-02 14:35] ckosloski commented on #718
That doesn't look right.
Which popover are you trying to use?
[Editable Popover](http://vitalets.github.io/angular-xeditable/#editable-popover)
or
[Bootstrap UI Popover](http://vitalets.github.io/angular-xeditable/#uipopover)

Using the Boostrap UI Popover, adding the `popover-placement` works for me
[code]

[2018-02-02 16:09] s2jrchoi opened #720 "Not Set / Unknown / Unavailable / Not Available"
Hello,

This isn't really an issue but wanted some guidance on how to change the font style for fields without any data.  I want to put a placeholder such as Not Set, Unknown, Unavailable, or Not Available but I want that to stick out and not blend in with all the other fields.  Can anyone please help me with this?

Thank you!

[2018-02-02 18:13] ckosloski commented on #720
You need to override the `editable-empty` css class with what you want.

[2018-02-02 20:22] s2jrchoi commented on #720
Thank you!!

[2018-02-02 20:22] #720 closed

[2018-02-03 06:28] KetanJain6333 commented on #717
Hi,

Please find the attached screenshot and help us out in implementing this functionality where i want to create a dynamic form on clicking add button and remove the same.

Thanks & Regards
Ketan Jain
________________________________
From: ckosloski <notifications@github.com>
Sent: Thursday, February 1, 2018 6:36:28 AM
To: vitalets/angular-xeditable
Cc: Ketan Jain; Author
Subject: Re: [vitalets/

[2018-02-03 15:30] ckosloski commented on #717
There is no image attached.
[This](http://vitalets.github.io/angular-xeditable/#editable-row) is the editable row example.  Based on your first post, it seems that is what you are trying to do.

[2018-02-05 10:58] IainmXray commented on #718
I am using the Editable popover which is working in every way but does not respond to popover-placement.  I will investigate further.

[2018-02-05 10:58] #718 closed

[2018-02-05 17:14] DarkRayX commented on #157
@lalitkapoor your solution not working.
I`m kinda made xeditable to work with nested forms, but i dont have time to commit\pull, cause project where it used is currenty under heavy time schedule.
1. add `e-form-nested="true"` prop to editable element which linked to nested form (ex: `div editable-form ng-form` )
2. change line ( 1322 for me)  - `if (ctrl[1]) { ) ` to `if (ctrl[1] && !attrs.eFormNe

[2018-02-12 22:48] dvnrsn commented on #43
Updated @vitalets fiddle to angularjs 1.6 because I'm not exactly following what was made available via those commits. http://jsfiddle.net/NfPcH/21066/

[2018-02-13 10:38] shrikantthorve opened #721 "Sorting and paging in grid"
Please let me know how we can do paging and sorting in the grid.

[2018-02-13 14:03] ckosloski commented on #721
Looking at previous issues, it seems some people used "dirPagination" for paging.
See previous issues #655 and #400 to see if they help.

[2018-02-15 04:10] shrikantthorve commented on #721
Thanks ckosloski. I will try and let you know.

[2018-02-15 23:48] troygilbert commented on #242
I find it is still an issue in our app, and we have customers that report it occasionally.

[2018-02-16 14:52] ckosloski commented on #242
@troygilbert any idea as to what the issue is?

[2018-02-17 14:46] troygilbert commented on #242
No idea, unfortunately. There’s two issues:

- when the user closes the soft keyboard it does not trigger a blur event. This is by design, but should be optionally handled as I have many users who think they are submitting at that point.
- when the user taps elsewhere on the page it basically does the same thing as clicking “Done” on the soft keyboard: the blue focus ring disappears, but a blur ev

[2018-03-09 12:41] jdmallen commented on #302
For others who might get this error, make sure that you're providing the model **without** the double curly braces "`{{}}`" in the `editable-select` argument. That was what caused it for me.

# Example
### This worked:
    <a href="" editable-select="myModel"
    	e-ng-options="o.id as o.name for o in myOptions"
    	onaftersave="updateModel()">{{myModel}}</a>

### This produced the error in this

[2018-03-09 14:42] ckosloski commented on #302
Thanks for the comment @jdmallen
@eugef I think you can close this issue.

[2018-03-09 18:15] piotr-dobrogost opened #722 "How to make editable select readonly/disabled?"
In the docs we read the following:

This works for text input fields but not for select as `<select>` tag does not honor `readonly` attribute (see https://stackoverflow.com/q/11976348/95735). This had been already asked at SO here – https://stackoverflow.com/q/36794664/95735 – and the suggestion is to show editable control conditionally on some flag. Is this workaround the only way?

[2018-03-09 21:34] ckosloski commented on #722
Are you trying to use an `editable-select` and make it `read-only` and not disabled?
It so, yes, there is no good way of doing it.
You would have to try one of the suggested options using css/js or both to make it look read-only.

What is your use-case?
Maybe just display a read-only text field if they can't change it and display the select for when it's changeable.

[2018-03-10 11:11] piotr-dobrogost commented on #722
Well, I hoped that `e-readonly` would be smart enough to use whatever attribute is suitable for specific type of input field which for `<select>` appears to be `disabled`. Now that I know it's not that smart setting `disabled` myself seems like a good option.

I would like to avoid this extra complexity if I can.

When editing item some fields which are editable during addition are not meant to be

[2018-03-10 11:11] #722 closed

[2018-03-11 13:09] bertysentry commented on #627
Hi, I have the same issue, where the added row is **NOT** editable the first time it is added, but **IS** editable the next times. Quite weird. It may be because I'm using a custom directive for the [Edit] and [Remove] buttons.

I posted this yesterday on SO: https://stackoverflow.com/questions/49215445/custom-angularjs-directive-with-xeditable-doesnt-work-first-time-but-works-af

And I have a Plu

[2018-03-12 08:27] #713 closed

[2018-03-12 08:28] #302 closed

[2018-03-12 15:24] ckosloski commented on #627
Try this on your form `shown="inserted == access"`
For some reason it wasn't letting me fork/save so I couldn't test it.

[2018-03-13 23:08] bertysentry commented on #627
Thank you for your reply @ckosloski !

I'm already using `shown="access == newDenyAccess"` (newDenyAccess is the object being inserted in the array).

So:
* in **index.html**, I'm calling my directive with `shown="access == newDenyAccess"`
* in my directive JS, I specify that `shown` is mapped to `shown` in my directive scope (`scope: { shown: '=' }`)
* in my directive template, I'm using `<form e

[2018-03-14 13:54] ckosloski commented on #627
I feel like it's some sort of scope issue.
If you move the html out of the directive and just have it inline and don't use the directive, it works correctly.
I tried different scope options in the directive, but couldn't get anything to work.

[2018-03-14 22:13] bertysentry commented on #627
oh yeah, the editable row works beautifully!... as long as it's not embedded in another directive. I don't understand what is going on. Quite frustrating.
Here's my suggestion: allow us to customize the [Add], [Del] and [Cancel] buttons with small templates (not just changing the label). This way, we won't need to embed xeditable-forms into custom directives.
What do you say? :-)

[2018-03-14 23:15] ckosloski commented on #627
You can override the template, did you see this:
http://vitalets.github.io/angular-xeditable/#default
http://vitalets.github.io/angular-xeditable/#bootstrap3
And the overall theme documentation?

[2018-03-16 09:28] bertysentry commented on #627
Oh my goodness, no I hadn't seen this, I'm sorry!
This should definitely do the trick! Thank you so much! :-)

[2018-03-16 13:16] ckosloski commented on #627
NP.
If that works, please close this issue.

[2018-03-19 12:51] piotr-dobrogost opened #723 "Transforming value before and after edit"
I would like to use `editable-datetime-local` field but the problem is Firefox shows plain text input instead proper control for `datetime-local` field (https://caniuse.com/#feat=input-datetime).
Because of this I need a way to format value stored in a model and present formatted value in edit field. Also I need a way to make `Date` object myself when editing is finished (sadly Firefox is able to

[2018-03-19 13:21] ckosloski commented on #723
What about the [combodate](http://vitalets.github.io/angular-xeditable/#combodate)
That uses moment.js which should be able to handle any date/time functions you need.

[2018-03-19 14:18] piotr-dobrogost commented on #723
Thanks for suggestion. I've seen all date and time controls listed in the docs but `datetime-local` on Chrome and Edge is much nicer and one day it will be available on Firefox too. That's why I wanted to try and make it work. Any idea how to perform my pre and post edit transformations?

[2018-03-19 15:44] ckosloski commented on #597
@eugef I think we can close this issue due to lack of response.

[2018-03-19 15:46] ckosloski commented on #565
@eugef I think we can close this issue due to lack of response.

[2018-03-19 15:47] ckosloski commented on #665
@eugef I think we can close this due to lack of response.

[2018-03-19 15:50] ckosloski commented on #723
I guess I'm not 100% sure what you are asking for.
If your value your using is `user.date` why can't you just format it like `$scope.user.date = format your date`
For display after saving you have something like `{{ (user.date | date: "yyyy-MM-dd") || 'empty' }}`
Look into moment.js for handling dates.

[2018-03-19 16:18] #665 closed

[2018-03-19 16:18] #565 closed

[2018-03-19 16:18] #597 closed

[2018-03-20 11:31] piotr-dobrogost commented on #696
Would like to revisit this. Does angular-xeditable create underneath *standard* AngularJS input component (one from those listed at https://docs.angularjs.org/api/ng/input) and if so then how to access it from (or pass into) `onbeforesave()` function? Such a component has for example `$valid` and `$error` properties.

[2018-03-20 13:37] ckosloski commented on #696
Are you trying to use angular's built in validations?  If so, this project is not setup to use them.
There are several issues that haven been opened for this, here is [one](#76).

[2018-03-20 13:41] 4blocksinc opened #724 "Search for e-ng-options"
Hello,
     Thanks for this great plugin. Is it any possible to get search input for options in editable-select directive?

[2018-03-20 13:44] ckosloski commented on #724
Are you referring to [ui-select](http://vitalets.github.io/angular-xeditable/#uiselect)?

[2018-03-20 13:46] 4blocksinc commented on #724
Nope, is it possible with ui-select?

[2018-03-20 14:35] ckosloski commented on #724
editable-select is just a normal select.
If you want other features, then try the ui-select in xeditable as mentioned above.
Here is the documentation for [ui-select](https://github.com/angular-ui/ui-select).
Try the demo I pasted above and see if that is what you want.

[2018-03-20 15:14] piotr-dobrogost commented on #696
It looks like you linked this issue by mistake.

[2018-03-20 15:17] ckosloski commented on #696
Fixed it

[2018-03-27 18:47] praveen252elite opened #725 "Editable row in Custom directive:"
Hi ,

I am  trying to create a custom directive in the editable tabular  row, it is throwing me the following error
_> angular.min.js:124 TypeError: Cannot read property '$data' of null

and  editable text box is not appearing.
Code:
[code]
HTML:
[code]

Please find the plunker link:
https://plnkr.co/edit/mDWG94kajAf1JVGzGnaG?p=preview

[2018-03-28 18:18] ckosloski commented on #725
It looks like a scope issue.
I changed it to `scope=false` and that seemed to fix the issue
https://plnkr.co/edit/1772aosu2bY7O4a4IlVG?p=preview

[2018-03-28 20:16] praveen252elite commented on #725
thank you !!

[2018-03-28 20:16] #725 closed

[2018-04-03 09:33] kuiperr005 opened #726 "editable-bsdate not working inside form"
The editable-bsdate does not seem to work inside a form. Here's a jsFiddle, toggling the `is-open` attribute does not seem to work:

http://jsfiddle.net/NfPcH/23004/

[2018-04-04 16:26] ckosloski commented on #726
You code was incorrect.
Here is a working version of your [fiddle](http://jsfiddle.net/ckosloski/0dfrmm3w/13/)

[2018-04-04 16:29] ckosloski commented on #83
@eugef Please close this issue due to lack of response

[2018-04-04 16:29] ckosloski commented on #133
@eugef Please close this issue due to lack of response

[2018-04-04 16:30] ckosloski commented on #143
@eugef Please close due to lack of response

[2018-04-04 16:32] ckosloski commented on #218
@eugef since #76 was closed, this can be closed.

[2018-04-04 16:32] ckosloski commented on #221
@eugef Please close due to lack of response

[2018-04-05 07:59] #221 closed

[2018-04-05 08:00] #218 closed

[2018-04-05 08:00] #143 closed

[2018-04-05 08:00] #133 closed

[2018-04-05 08:00] #83 closed

[2018-04-09 11:31] kuiperr005 commented on #726
You're right, thanks!

[2018-04-09 11:31] #726 closed

[2018-04-17 06:15] shrikantthorve opened #727 "Allow only one row to edit at time"
If user clicks on edit on table row then other rows cannot be edit. Once user clicks on save or cancel then only we can allow user to edit other user.

[2018-04-18 13:37] ckosloski commented on #727
Couldn't you do this with a scope variable?
Set the variable on edit to true and have edit buttons disabled if the scope variable is set.
Set the variable to false when cancelling or saving to enable edit again.

[2018-04-20 17:03] AhmedAkram96 commented on #130
test

[2018-05-08 11:55] pompalini opened #728 "Would be nice to have datepicker-template-url setting customisable as well."
Datepicker popup settings has the setting `datepicker-template-url`: https://github.com/angular-ui/bootstrap/tree/master/src/datepickerPopup

Which allows to override the template used for the datepicker with the attribute:
`datepicker-template-url="angular/datepicker.html"`

With this line in xeditable.js:
[code]
I can then make use of the attribute just like in uib-datepicker:
`e-datepicker-temp

[2018-05-14 13:12] #728 closed

[2018-06-01 12:50] soundstage opened #730 "Editable does not reset the width of the parent <td> element after close"
Before clicking on any editable element.

![image](https://user-images.githubusercontent.com/18165706/40841366-d371e8ce-65c7-11e8-9387-6c477f9dca0e.png)

After any of the element is clicked.

![image](https://user-images.githubusercontent.com/18165706/40841394-ea55d640-65c7-11e8-8a27-fe3fd7d5d3b3.png)

After element has been edited and editable is closed.

![image](https://user-images.githubuserco

[2018-06-29 01:56] xiazhe opened #731 "Need update angularjs lib version to 1.5+, demo env"
http://vitalets.github.io/angular-xeditable/starter/

Error: Unknown provider: $sceProvider <- $sce

Need update angularjs lib version to 1.5+ fix the question.

[2018-07-06 10:10] chiu0602 opened #733 "file upload function not work"
After chosen a file to upload and press "tick", the field become empty.

The behavior can be seen under section "HTML5 inputs - demo" on demo page [http://vitalets.github.io/angular-xeditable/](http://vitalets.github.io/angular-xeditable/),

[2018-07-06 13:16] ckosloski commented on #733
Can you provide your code?
The demo doesn't actually do the upload, which is why it just goes back to empty.

[2018-07-09 02:17] chiu0602 commented on #733
Thanks @ckosloski maybe you have provided a hint for me, here is my code:
[code]
I use "input file" with "[Editable row](https://vitalets.github.io/angular-xeditable/#editable-row)" and expected to upload in a bulk with other data when I click "Submit" button. Can "input file" works with "Editable row"? Thanks!

[2018-07-09 07:46] #731 closed

[2018-07-09 13:47] ckosloski commented on #733
Looks like you are missing what to actually do when you submit.
Try adding something like`onbeforesave="saveUser($data, user.id)"` to your `editable-form`
See the editable-form example [here](http://vitalets.github.io/angular-xeditable/#editable-form)

[2018-07-10 02:40] chiu0602 commented on #733
I have modified the editable-form example and created file upload field
http://jsfiddle.net/y31obvr0/
After I have chosen the file, the file field become "None", that means the info for file input haven't been stored. The demo doesn't actually do the upload but the behavior is already unexpected. If the model have no information stored for the file to be uploaded, the file should not be able to be

[2018-07-10 21:34] ckosloski commented on #733
Looks like you need to add on another directive to support it since angular models and the file input don't work together naturally.
http://luxiyalu.com/angular-all-about-inputfile/

https://stackoverflow.com/questions/17063000/ng-model-for-input-type-file-with-directive-demo

I haven't used the file upload with xeditable, but in a different angularjs project I used the `fileModel` directive at ht

[2018-07-11 03:16] chiu0602 commented on #733
So that means angular xeditable not supports <input type="file"/>, it should be removed on demo page to avoid misleading.

[2018-07-11 14:52] ckosloski commented on #733
It is supported.  It is displaying it like other elements.   You just need to add a directive of your choosing to get it to work the way you want.
Another option I found is https://github.com/nervgh/angular-file-upload, which was used by another user in #645

[2018-07-14 10:01] sinall opened #735 "ReferenceError: onshow_callback is not defined in Firefox"
Steps to reproduce the issue in **Firefox**.
1. Add **onshow** attribute for form
2. Add **dropdown-menu** in form
3. Click dropdown-menu
4. Console shows: **ReferenceError: onshow_callback is not defined**

[jsfiddle example](http://jsfiddle.net/NfPcH/24917/)

[2018-07-16 21:13] ckosloski commented on #735
This is a strange one.
It works in chrome/safari but not Firefox.
I tried a bunch of things, but couldn't get it to work in Firefox.
It's as if bootstrap/jquery is hijacking the click event meant for xeditable, or maybe xeditable is handling it, but it then falls through to bootstrap/jquery.

[2018-07-17 03:01] sinall commented on #735
@ckosloski it could work if the dropdown-menu is created by angular-bootstrap library.

[2018-07-17 19:10] ckosloski commented on #735
I can see if I can get something added in the next couple of weeks.
Or, your welcome to create a PR yourself :)

[2018-07-18 08:56] rajesh-rns commented on #360
@exp-anoop  could you please provide info on how you fixed it? I am facing the exact same issue. Thanks

[2018-07-25 15:25] piotr-dobrogost opened #736 "Missing example showing how to manually update model in onbeforesave/onaftersave"
I can't find example showing how to manually update model in `onbeforesave`/`onaftersave` functions.

All I managed to find on this subject is the following statement at https://vitalets.github.io/angular-xeditable/#onbeforesave:

It seems like allowing fourth type of return value (`object`?) in `onbeforesave` with the final value which the model should be set to would be useful. My need seems sim

[2018-07-30 18:31] ckosloski commented on #736
Is this what you are looking for?
```One way to submit data on server is to define onbeforesave attribute pointing to some method of scope. Useful when you need to send data on server first and only then update local model (e.g. $scope.user). New value can be passed as $data parameter (e.g. <a ... onbeforesave="updateUser($data)">).```

[2018-07-30 19:15] ckosloski opened #737 "checklist-model.js not found on demo site"
@eugef it seems something went wrong with the 0.9.0 build.
The checklist-model.js is throwing a 404 on the demo site which appears to break everything.

[2018-07-31 09:31] eugef commented on #737
Fixed, thanks @ckosloski

[2018-07-31 09:31] #737 closed

[2018-07-31 12:37] ckosloski commented on #735
@sinall how do you plan to use the dropdown-menu in an editable form?

[2018-08-01 04:04] sinall commented on #735
@ckosloski I use it to refresh the select list and view/create new item.

[2018-08-01 20:48] ckosloski commented on #735
@sinall so the inputs are linked?
An item is selected in the dropdown-menu and this populates the select with values?  Then a value is in the chosen in the select and the form submitted?

[2018-08-05 06:27] sinall commented on #735
The inputs are editable-select, a dropdown menu is next to it.
The items in the select could be viewed/created/refreshed by choosing one of the dropdown menu item.

[2018-08-06 06:47] osvathrobi opened #738 "editable-bsdate doesn't seem to work with ui.bootstrap.popover (ui-popover-wrapper)"
My other controls are working fine within the popover except the date picker. Only the Submit and Cancel buttons appear in the popover.

[code]

This seems to be the same reason why form-control class isn't added to inputs within a ui-popover. `$templateCache.put('popover.html', self.editorEl[0].outerHTML)` is used in the code to pass it over to the popover but the control hasn't finished  being c

[2018-08-06 07:33] osvathrobi commented on #738
One hack-fix is to move this code from the `self.render` method into the `self.show` method right before triggering `self.onshow`:

[code]

This will fix both the missing class names and creating the bsdate controls.

[2018-08-20 20:59] ckosloski commented on #706
@eugef this issue can be closed, it was fixed by #709

[2018-08-20 21:09] ckosloski commented on #735
Maybe two editable-select's with `e-ng-change` would work for you?
I updated the jsFiddle from #521 [here](http://jsfiddle.net/ckosloski/t54gqjva/)

[2018-08-21 02:39] sinall commented on #735
Doesn't work on firefox, did you change the code? I can not find '`e-ng-change`'.

[2018-08-21 10:35] #706 closed

[2018-08-21 13:30] ckosloski commented on #735
Sorry, I pasted the wrong link.
Try this [one](http://jsfiddle.net/ckosloski/aq6cvrku/3/)

[2018-08-29 16:02] sinall commented on #735
I tried several times. But it doesn't display correct.

It shows like this:

[2018-08-29 16:28] ckosloski commented on #735
OK, so it seems there is an issue with the value being initially set..
If you select Toyota, then select Model, it only shows Camry.

[2018-09-06 17:34] sherlock1982 opened #739 "Can't enter space in xeditable in AngularJS 1.7.3"
Switching from AngularJS 1.7.2 to 1.7.3 breaks ability to enter spaces in input fields.
I have a feeling this is due to this change https://github.com/angular/angular.js/commit/3a517c25f677294a7a9eca1660654a3edcc9e103

[2018-09-06 17:42] sherlock1982 commented on #739
Workaround: downgrade aria to 1.7.2

[2018-09-06 18:14] gkalpak commented on #739
The regression should have been fixed with angular/angular.js#16680. It is not released yet (will happen in the next few days - possibly tomorrow). In the meantime, you can try out the latest version from https://code.angularjs.org/snapshot/ and see if the error goes away 🙏